[2013-06-24 07:58] jg opened #323 "#visited_page broken"
Platform:
ruby-1.9.3-p194 & ree-1.8.7-2012.02
mechanize 2.7.1

Steps to reproduce:

[code]

page1.body contains the page body
page2.body is an empty string

[2013-09-13 04:47] alex2b opened #333 "File upload when filename is in UTF8 encoding fails"
in lib/mechanize/form.rb in file_to_multipart(file):

[code]

body.encoding will be UTF-8
and later

[code]

file data will be in ASCII-8BIT and concat to body will fail

[2013-10-23 20:44] empjustine opened #346 "Can not "unclick" form buttons."
Use of `Mechanize#page#form#click_button` leaves tainted "button clicked" data, that doesn't respect Mechanize#transact scope.
Any reasonable reason why there aren't any public accessors or methods for changing this (Mechanize::Form @clicked_buttons)?

[2014-07-14 17:52] guilhermediniz11 opened #385 "Undefined method 'path' for nil:NilClass"
Does anyone know this error?? It occurs when i execute this script:

[code]

NoMethodError: undefined method `path' for nil:NilClass
    from /home/guilherme/.rvm/gems/ruby-2.1.1@omni-scraper/gems/mechanize-2.7.2/lib/mechanize/http/agent.rb:823:in`ensure in response_content_encoding'
    from /home/guilherme/.rvm/gems/ruby-2.1.1@omni-scraper/gems/mechanize-2.7.2/lib/mechanize/http/agent.rb:821:in

[2014-07-29 10:18] cheenu opened #387 "Mechanize module documentation page is blank"
Please see http://docs.seattlerb.org/mechanize/Mechanize.html

I just get a blank page as can be seen in the screenshot

![screen shot 2014-07-29 at 3 48 04 pm](https://cloud.githubusercontent.com/assets/153911/3733588/b2726682-1709-11e4-897d-640f0e8fd0f8.png)

[2014-09-22 16:19] jackrg opened #393 "code converter not found (UTF-8 to utf8)"
While reading a website, I got the above error. Below is the transaction log. What's strange about this is the Content-Encoding appears to be 'UTF-8', but Mechanize clearly logs that it is 'utf8'. Any thoughts on how I can make it work?

[code]

[2014-09-24 18:16] acaeti opened #394 "Cannot un-disable form fields?"
I see in other mechanize implementations there is an option to un-disable a form field.  I cannot seem to find a way to do this in Ruby Mechanize 2.7.3.

This becomes important when submitting a form - Mechanize does not seem to submit disabled fields.

Any advice?

[2014-10-09 13:56] mikepfirrmann opened #397 "Setting read_timeout causes exception for FileRequests"
If a `read_timeout` value is set on a `Mechanize` instance that is used for a mix of HTTP connections and `Mechanize::FileConnection`s, an exception is raised when the `Mechanize::HTTP::Agent` tries to pass its `read_timeout` value along to a `Mechanize::FileConnection`:

[code]

`Mechanize::FileConnection` does not have a `read_timeout=` method.

I believe the same applies for `open_timeout`.

[2015-01-14 22:25] leejarvis commented on #387
@drbrain Can you regen these docs please? (Don't think I have access)

[2015-01-14 22:28] drbrain commented on #387
Uh:

[code]

You removed hoe? 😢 No wonder you can't push documentation, all the automation is gone.

[2015-01-14 22:30] leejarvis commented on #387
It went in #358

[2015-01-14 22:32] drbrain commented on #387
Oh right: https://github.com/sparklemotion/mechanize/pull/358#issuecomment-35573199

I'll rebuild your publish_docs task.

[2015-01-14 22:41] drbrain commented on #387
Task restored by @cd8c4461 and documentation is published.

[2015-01-14 22:41] #387 closed

[2015-01-15 15:18] #397 closed

[2015-01-16 16:33] leejarvis commented on #393
@jackrg Can you post your code to reproduce this please?

[2015-01-16 18:14] jackrg commented on #393
I wish I could but I found a workaround back then and, frankly, don’t remember which webpage produced the problem. If it helps, this is my workaround:

    @agent.content_encoding_hooks << lambda{|httpagent, uri, response, body_io|
      response['Content-Encoding'] = 'none' if response['Content-Encoding'].to_s == 'UTF-8'
    }

Sorry that I can’t be of more help. I believe that it happened on the

[2015-01-17 04:59] toobulkeh opened #408 "Inspect Last Request? CSRF"
I'm extending the gem nomad/cupertino to automate ADC workflow via CLI tools.

Problems arise when making some requests. In particular, their servers are returning the following 421 error:
[code]

While this is not a standard HTTP response, I do believe it's because of a malformed request being sent. I've matched up all the form and query data, and can see that those are being sent equally in my b

[2015-01-17 11:49] leejarvis commented on #408
I'm a bit lost as to exactly what you're looking for, but you can enable logging on your Mechanize object to display sent/received headers and other information. You can also fetch the original page from the `ResponseCodeError` instance and force parse it.

[2015-01-17 16:39] toobulkeh commented on #408
I think what I was looking for was "logging". That's a route I haven't tried yet. Thanks!

[2015-01-17 16:57] toobulkeh commented on #408
Unfortunately their servers don't respond with anything useful:

[code]

So time to look through the logs of that send and compare it to the normal browser:
[code]

[2015-01-17 17:57] toobulkeh commented on #408
It looks like the major difference of this transaction over any other I've automated is the inclusion of CSRF. There are a few other minute differences (Mechanize using a webkit that supports 0.5 instead of 0.8) but I feel like those would be larger problems for the entire group of transactions instead of just this one.

Has anyone found a way to respond to CSRF requests properly using Mechanize?

[2015-01-17 18:18] toobulkeh commented on #408
![screen shot 2015-01-17 at 1 16 08 pm](https://cloud.githubusercontent.com/assets/1342064/5789874/14644978-9e4b-11e4-8342-b4ed214bf165.png)

Looks like this is where [Apple's Javascript (deminified here)](http://pastebin.com/FAYgNXiL) is storing the CSRF information.

Now to figure out how they're sending it.

[2015-01-17 18:31] toobulkeh commented on #408
Their app is tricky. It's only sending it on one specific action, certificateList, which is a page here:
https://developer.apple.com/account/ios/certificate/certificateList.action

They don't send it on every page, which forces us to grab that page first.

So my mechanize code needs to grab that information, store it, and send it later. Shouldn't be too hard.

[2015-01-17 19:27] toobulkeh commented on #408
Cool, so I figured it out. Now, I would like to do a better pattern than the one you see here:

https://github.com/QueueSoftwareInc/cupertino/commit/8edb126f75217e798ae3f401e05463da607275fa#diff-7ab1f0cfed2ac763f5fbcec6d7998bfdR298

Do you have any recommendations on how to override the `Mechanize::HTTP::Agent's fetch method` to save the `@csrf_headers` whenever they're present? Specifically in ht

[2015-01-18 11:55] leejarvis commented on #408
There's currently no way to do this. But it shouldn't be too much trouble to save CSRF information on a response and re-send it on a following request, assuming that's what you're after

[2015-01-23 17:11] daBee opened #409 "Form Radio Button - Wrong One Sent On Submission"
It seems a radio button isn't taking after being set.  The server is saying I sent the button sent to another value.

The form:
  [radiobutton:0x3ff4bd04b428 type: radio name: searchCriteriaBean.conceptOperator value: and]
  [radiobutton:0x3ff4bd0322e8 type: radio name: searchCriteriaBean.conceptOperator value: accrue]
  [radiobutton:0x3ff4bd022924 type: radio name: searchCriteriaBean.conceptOpera

[2015-01-23 17:23] daBee commented on #409
this_search = "fish bucket"
    this_province = ""
    this_operator = "accrue"																# 'accrue' or 'and'
    form_url = "http://example.com/cccSrch.do?lang=eng&prtl=1&tagid=&profileId=&rstBtn.x="

    agent = Mechanize.new
    page = agent.get(form_url)
    CCCform = page.forms[0]
    CCCform['searchPage'] = 'cccSrch.do?lang=eng&prtl=1&tagid=&profileId=&rstBtn.x='
    CCCform['searchCrit

[2015-01-23 17:38] leejarvis commented on #409
Closing this. Resolved on IRC

[2015-01-23 17:38] #409 closed

[2015-01-23 18:09] muescha commented on #409
how was the solution?

[2015-01-24 01:12] daBee commented on #409
You have to traverse the form in its GUI format and “check” id’s for radiobuttons.  As for checkboxes, same thing, but they remain sticky for the whole nameset.

beerich@gmail.com

[2015-01-25 03:35] pvl7 opened #410 "cannot read unnamed form objects"
Hello

I have the following html page:

[code]

and try to read it with Mechanize:

[code]

[code]

and there is no the <input> object with the *id=* attribute which has no the *name=* attribute.

Is that a bug or I overlooked something?

Thanks!

[2015-01-25 08:06] daBee opened #411 "Keys & Values of Current Form Radiobox Won't Display"
After checking one option of a radiobox, it won't show up in the following iteration of the form fields:

[code]

thisform.inspect shows options, but once they are set, they don't seem to be displaying.  On further exploration, one field is not available in the keys, nor values.

Cheers

[2015-01-25 08:51] daBee opened #412 "No Method To Add Checkboxes To A Form"
Currently no method to add a checkbox or radiobuttons in a form, only a normal text field.  The only method used to create a new field is:

[code]

Cheers

[2015-01-25 16:45] leejarvis commented on #410
These inputs are not important to Mechanize. [The specification](http://www.w3.org/TR/html401/interact/forms.html#successful-controls) mandates that only input elements with a `name` attribute are valid.

Therefore, Mechanize actively ignores input elements that do not have this attribute.

[2015-01-25 16:45] #410 closed

[2015-01-25 16:46] leejarvis commented on #408
Closing this, please re-open if there's a continued issue.

[2015-01-25 16:46] #408 closed

[2015-01-25 16:56] leejarvis commented on #394
Disabled controls will not be submitted. That is intentional.There's currently no way to enabled these form elements. Could you point me to the documentation for how other implementations handle this?

[2015-01-26 12:15] tsalmon opened #413 "Sample rubyforge"
[The sample about rubyforge](https://github.com/sparklemotion/mechanize/blob/master/examples/rubyforge.rb) doesn't work anymore

[code]

[2015-01-26 19:24] daBee opened #415 "pp Form Should Show id For Radiobuttons"
Since they all are named the same, an id presentation would help.  I'm not sure if this is an oversight.

[2015-01-27 01:41] weshatheleopard opened #416 "If multiple submit buttons are present on a form, all of them are included in the query"
The following line ( https://github.com/sparklemotion/mechanize/blob/master/lib/mechanize/form.rb#L259 ) should NOT include `+ submits` — otherwise, if the form has multiple submit buttons:

[code]

then the query string will include both, whereas they are exclusive — after all, you can't click both at once with a mouse.

[2015-01-27 02:58] acaeti commented on #394
See here, line 52:
https://github.com/jjlee/mechanize/blob/master/examples/forms/example.py

See also here:
http://search.cpan.org/~gaas/HTML-Form-6.03/lib/HTML/Form.pm
specifically this section:

$bool = $input->disabled
$input->disabled( $bool )

    This method is used to get/set the value of the disabled attribute. Disabled inputs do not contribute any key/value pairs for the form value.

In s

[2015-01-27 09:39] #413 closed

[2015-02-04 18:19] juliennicolas opened #419 "Parser halt when there is a NUL char in the parsed string"
If you crawl a webpage with a nul char inside the nokogiri parser will halt when reading it.
Maybe mechanize should handle this.

It's a way for somebody who don't want to be crawled to block you.

 https://github.com/sparklemotion/nokogiri/issues/1240

[2015-02-10 10:06] committance opened #420 "NoMethodError from agent.rb:648"
Hi,
This code

require 'mechanize'
agent = Mechanize.new

agent.keep_alive = false
agent.open_timeout = 2
agent.read_timeout = 2
agent.ignore_bad_chunking = true
agent.gzip_enabled = false

url = 'http:%5C%5Cwww.scouts.org.uk'

agent.head(url)

leads to thi Error:

~/.rvm/gems/ruby-head/gems/mechanize-2.7.3/lib/mechanize/http/agent.rb:648:in `resolve': undefined method`length' for nil:NilClass (No

[2015-02-20 19:35] canvural opened #421 "Not logging response body"
I am using Log4r with mechanize.

It logs the response headers but not body. Can i change it to log the body too? Or is this a missing future?

[2015-02-23 11:48] itshakeel23 opened #422 "How to use TOR using mechanize ?"
I want to use SOCK based proxy using mechanize e.g TOR.

e.g
agent = Mechanize.new
agent.set_proxy('127.0.0.1', '9050') #here how can i specify SOCK type ?
page = agent.get("http://google.com")

[2015-02-25 21:08] dwkns opened #423 "Page not parsing"
For some reason the following is not parsing

    require 'mechanize'
    agent = Mechanize.new
    page = agent.get('https://publisher.affili.net/Login/NewLogin.aspx')
    pp page

it outputs :

    #<Mechanize::Page
     {url #<URI::HTTPS https://publisher.affili.net/Login/NewLogin.aspx>}
     {meta_refresh}
     {title nil}
     {iframes}
     {frames}
     {links}
     {forms}>

However this :

[2015-02-25 22:21] leejarvis commented on #423
That's odd. Looks like `page.content_type` returns `"text/html; charset=UNICODE-1-1"` which seems incorrect.

For now, you can force the page encoding like so:

[code]

[2015-02-25 22:22] leejarvis commented on #423
Right, it's not odd; the page explicitly sets `<meta http-equiv="content-type" content="text/html; charset=UNICODE-1-1" />`

[2015-02-25 22:38] dwkns commented on #423
Works for me. Thanks.

[2015-03-04 09:02] muppanenimanasa opened #424 "error: SSL_connect returned=1 errno=0 state=SSLv3 read server hello A: sslv3 alert handshake failure"
Please share what is the root cause of this issue,most of the blogs are telling, this is  an issue with OpenSSL verion.

[2015-03-10 21:14] MattMencel opened #425 "Rails Form Not Submitting"
I've got a bit of code that is trying to create a forum in Redmine.

[code]

The code seems to submit correctly, but no forum is created.  I looked at the Rails logs and compared a manual submission from my code to one coming from the browser.

Here is the submission from my code notice the extra "Rendered" lines.  No forum created.

[code]

Here is the submission from the browser, which is missin

[2015-03-14 17:52] mattstreet opened #426 "File upload setting mime_type is ignored"
If you create a FileUpload object like this:

[code]

and then use it in a post, it will work correctly, however, if you do it like this:

[code]

When you post using the FileUpload object it will read in the contents of the file exactly the same, but the Content-Type that is included for the file won't match the mime_type you set.

[2015-03-26 21:08] rickleigh opened #427 "Scraping a site that requires login using two form submits?"
I'm trying to scrape information from my companies Intranet so that I can display information on our office wall board via dashing dashboard. I'm trying to work with the provided information from: http://scraperblog.blogspot.com/2012/12/scraping-site-that-requires-login-in.html . The problem that I'm having other than being a noob is that in order to gain access to the information I want to scrape

[2015-03-27 04:21] jmks commented on #427
I don't know about any mechanize related problems, but:
uninitialized constant LoginUser (NameError)
means the constant was not defined (in Ruby identifiers that start with a capital letter are considered a constant).

The script you posted does not define either LoginUser nor LoginPassword.

[2015-04-03 13:14] jlecour opened #428 "Cached pages and overwritten headers"
Hi,

I'm using Mechanize for automated tests, to verify that a web server has the intended behaviour regarding cache policy.

When Mechanize use its cache, on a subsequent request for a previously visited page, it returns the cached `page` object, with its headers and never shows the headers returned by the server.

Here is very basic example

[code]

The `page1` and `page2` objects are the same ;

[2015-04-09 09:16] rilut commented on #424
I'm experiencing this too now. I had downloaded `cacert.pem` and added it to the path as instructed in https://gist.github.com/fnichol/867550 , it doesn't work for me

[code]

Pasting the above code into irb would resulting in the 4th line throwing an error, and the 5th line works just fine

[code]
I'm on Windows 10 TP x64, RailsInstaller 3.1.0 (`ruby 2.1.5p273 (2014-11-13 revision 48405) [i386-mi

[2015-04-13 08:51] sevk commented on #422
I also need socket5 proxy , thanks .

[2015-04-13 18:13] drbrain commented on #422
Mechanize only supports HTTP proxies.  Maybe a tool like [torsocks](https://github.com/dgoulet/torsocks/) will help.

[2015-04-20 18:59] postmodern opened #429 "follow_meta_refresh does not handle infinite refresh cycles"
I ran into this issue when visiting `http://www.wunderground.com/` with `agent.follow_meta_refresh = true`. The index page contains the following meta refresh:

[code]

Following that refresh, the `/?MR=1` page contains the following meta refresh:

[code]

This causes an infinite refresh cycle. Setting `agent.follow_meta_refresh_self = false` does not prevent the cycle. Setting `agent.redirection_

[2015-04-27 19:42] bmurtagh commented on #394
I'm in favor of this issue as well. It would be nice to have

[2015-04-28 08:20] NielsKSchjoedt opened #430 "Handling of Internationalized domains (IDNA)"
I'm trying to access some internationalized domains (e.g. http://www.nykøbing-autocenter.dk/) with mechanize. However the only thing I get is:

[code]

What should I do about it?

[2015-04-28 08:32] NielsKSchjoedt commented on #430
I solved it:

[code]
and

[code]

[2015-04-28 08:32] #430 closed

[2015-04-28 15:01] knu commented on #430
Thanks for the report.  Mechanize currently does not support IDNA.  It has to introduce a URL normalizer that converts IRI into ASCII-only URI, or links using Unicode IDN do not work.

While I consider Mechanize should fully support IDNA, I'm yet to decide if we should just implement a lax normalizer that just works for most cases, or properly implement (or make use of one of those implementations

[2015-04-28 15:02] knu commented on #430
By the way, Mechanize already depends on a library called `domain_name` that can deal with IDNA.  I haven't looked into `simpleidn` closely, but DomainName can do ToAscii conversion like this: `DomainName.normalize("nykøbing-autocenter.dk")`

[2015-04-29 05:24] drbrain commented on #430
Ideally Net::HTTP would and/or URI would handle IDN for mechanize, but in the mean time we'll need to deal with it.

[2015-04-29 08:04] NielsKSchjoedt commented on #430
Thanks. This makes a lot of sense.

[2015-05-15 07:24] nabeelabbas36 opened #431 "Full Page screenshot in mechanize"
can we take full page screenshot in mechanize. We have a function in capybara/poltergeist with save_screenshot. Is there anything like this in mechanize?

[2015-05-26 04:03] phuongnd08 opened #432 "How to deal with Cloudflare DDOS protection?"
When DDOS protection is on, Cloudflare return a 503 error page contains a script that will set a cookie and reload the page after 5 seconds. Could mechanize be modified to deal with that?

[2015-05-26 08:03] leejarvis commented on #432
You'll have to handle this yourself. You can read the cookie and modify your program to deal with the new request. It's not something Mechanize does, or will, handle out of the box.

[2015-05-26 08:03] #432 closed

[2015-05-26 08:04] leejarvis commented on #431
No I'm afraid there is no such function. You could use something like https://github.com/maxwell/screencap

[2015-05-26 08:04] #431 closed

[2015-05-26 08:17] leejarvis commented on #428
The idea is that you shouldn't need to verify that. If Mechanize see's the `304` response status it knows that the response is the same, so it returns the previous page object:

https://github.com/sparklemotion/mechanize/blob/master/lib/mechanize/http/agent.rb#L304-L306

You could disable history, but that means the second response would be a 200 still since Mechanize wouldn't send an `If-Modified

[2015-05-26 08:17] #428 closed

[2015-05-26 08:18] leejarvis commented on #427
As @jmks points out, this is unrelated to Mechanize.

[2015-05-26 08:18] #427 closed

[2015-05-26 08:19] #423 closed

[2015-05-26 08:19] #422 closed

[2015-05-26 08:20] leejarvis commented on #421
You'll have to read the body and log it yourself.

[2015-05-26 08:20] #421 closed

[2015-05-26 08:21] leejarvis commented on #419
As you can see from the Nokogiri thread, it's related to libxml so nothing we can do here.

[2015-05-26 08:21] #419 closed

[2015-06-16 15:07] GaryCarneiro opened #433 "Upgrade Nokogiri Dependencies"
Hi,
The  Nokogiri dependencies still point to 1.4. and current stable is ~> 1.6
Can we please upgrade it to Nokogiri stable  and upload the gem ?

-Gary

[2015-06-19 14:03] DEATHMETALGORE opened #434 "Pick the correct form from Mechanize results via CSS selector"
So I use Mechanize to fetch a list of forms for a page. The form identification can vary for websites, so I need something more stable, such as a selector.

Is there a way I can use a simple CSS selector to pick the right form from a list of forms provided by Mechanize?

[2015-06-20 11:56] leejarvis commented on #434
Have you tried [form_with](http://docs.seattlerb.org/mechanize/Mechanize/Page.html#method-i-form_with)?

[2015-06-20 11:57] leejarvis commented on #425
Hi Matt, sorry I've only just got around to looking at this. Did you figure it out?

[2015-06-24 00:27] xuxiangyang opened #435 "What can I do with Net::HTTP::Persistent::Error: too many connection resets"
Hi， I am getting the error Net::HTTP::Persistent::Error. there is lots of issue discussing about it, but none of them found a way to fix this error. Can you help me?

my ruby version is 2.0.0-p481
mechanize version is 2.7.2
net-http-persistent version  is 2.9.4

I use mechanize in production environment, this error occurs when the number of connections goes up.

Will it fix this error if I deploy

[2015-06-24 07:29] leejarvis commented on #435
There are lots of details for this issue in #123. In short, we don't have a quick-fix solution. If you're able to provide a reusable example please re-open that ticket with all of the relevant information. Thanks!

[2015-06-24 07:29] #435 closed

[2015-06-24 07:29] #434 closed

[2015-07-01 10:10] zdavatz opened #436 "using mechanize and savon: ruby-ntlm clashes"
Using mechanize and savon can lead to clashes of which version of ruby-ntml should be used. The issues is also reported here:

https://github.com/WinRb/rubyntlm/issues/13

The problem is that savon and mechanize each use (by direct or indirect require) ruby-ntlm.

Depending whether we used bundle exec or an installed version of our gem (that uses savon) the order of includes seems to differ and us

[2015-07-20 13:09] nir0 opened #437 "401 response cannot be processed as a page"
login form is delivered with 401 status by a webserver, which results in error in mechanise. i still need to put login and password into form, how do i bypass this?

[2015-07-20 13:43] leejarvis commented on #437
Maybe you need to add the credentials to the request if this is HTTP authentication. You can do that via `add_auth`: http://www.rubydoc.info/gems/mechanize/Mechanize%3Aadd_auth

In general though, you can catch the Mechanize exception and use the page object:

[code]

[2015-07-20 13:43] #437 closed

[2015-07-27 05:54] xuxiangyang opened #438 "v2.7.3 failed with test_build_query_string_complex"
Hi， when I run the test, I get a fail at [test_mechanize_util:139](https://github.com/sparklemotion/mechanize/blob/master/test/test_mechanize_util.rb#L139)，

the input_params is
[code]

however when run ```@MU.build_query_string(input_params)```

the params I got is

```{:x=>"50%", :y=>"100%", :t=>"160"}```

I think this maybe a bug.

The last change was made by @knu in 62f337b0648b3a2bc5857b223b4

[2015-07-27 06:54] #438 closed

[2015-07-27 06:55] knu commented on #438
Thanks for the report.  It's a shame I didn't notice the breakage and have left it broken for a long time.

[2015-07-27 06:56] knu commented on #438
Oops, sorry for the force-push.

[2015-07-30 18:02] cielavenir commented on #436
My modified gemspec drops ntlm-http dependency (thus mechanize will crash if savon is not installed). lol...
https://github.com/sparklemotion/mechanize/issues/407

[2015-08-08 19:24] alcalaerick86 commented on #394
I am in favor too...

[2015-08-15 09:36] yashwinkumar opened #439 "Nokogiri::CSS::SyntaxError: unexpected '$' after ' '"
````gem 'mechanize', '~> 2.7.3'````

Getting following error while doing `search` on the page
[code]

[2015-08-16 07:42] leejarvis commented on #439
Could you provide code to reproduce this issue please?

[2015-08-17 06:53] yashwinkumar commented on #439
[code]
I got that fixed. I kept extra space after while searching with className.

[2015-08-17 07:24] leejarvis commented on #439
Why? That's what's causing the `SyntaxError`. It's not valid.

[2015-08-18 18:00] yashwinkumar commented on #439
Yes. Extra space caused error. I'm positive about it. I double checked it.
Check in the screenshot, before and after.
![screenshot from 2015-08-18 23 28 03](https://cloud.githubusercontent.com/assets/2732153/9338166/e20678a8-4600-11e5-9e2b-4b2dce123f44.png)

[2015-08-18 19:29] leejarvis commented on #439
Yes that's correct. I was asking why you have it. This isn't an issue since you can just remove the space because it's invalid syntax. Closing this ticket.

[2015-08-18 19:29] #439 closed

[2015-09-09 19:38] uksa opened #440 "Building a query with no value in Mechanize::Form::Text causes 500 Internal Server Errors"
I have an issue, which **could** be bespoke to the development project I'm working on. There is a form, which depending on the drop-downs chosen can cause, once displayed fields to no longer be required when sending the form POST request. At least this is how it works in the browser and the query string looks like **fieldValue=&nextField=X**. So it has an empty value, this causes the Server to eve

[2015-09-09 19:55] uksa commented on #440
Change link to my fork:
https://github.com/uksa/mechanize/commit/786117a7f780eaba09845c6c1738718309cc2e0f

[2015-09-09 20:17] uksa commented on #440
As a side note, looking over RFCs re, the validity of having an empty value, I could not find any clear evidence to say if this is acceptable, which probable means it is...!

[2015-09-10 01:34] xuxiangyang commented on #440
I think mechanize should add this feature，some server detect if params has the key to do something~~~~ mechanize is common  crawler ，I think you should custom mechanize to fit your situation

[2015-09-11 14:28] uksa commented on #440
Yes it would seem that if this was apparent at the Server level, then being able to switch at the agent level would be the best place.

Perhaps something like a boolean for switching it on or off and defaulting to the way it is now, which allows blank values.

[2015-09-12 04:42] gchan opened #441 "Specific www-authenticate header causes mechanize to be stuck in a loop"
It appears that mechanize gets stuck in an loop within the `Mechanize::HTTP::WWWAuthenticateParser#parse` method when it encounters a `www-authenticate` value of `Bearer realm='OAuth API', error='invalid_token'`

[code]

[2015-09-12 05:16] gchan commented on #441
After some debugging, it turns out it the www-authenticate value `Bearer realm='OAuth API', error='invalid_token'` does not meet the RFC2617 and RFC2616 standard of a "quoted-string".

`'OAuth API'` is surrounded with single quotes rather than double quote which is causing it to fail on this [line] (https://github.com/sparklemotion/mechanize/blob/master/lib/mechanize/http/www_authenticate_parser.r

[2015-09-14 07:34] uksa commented on #440
I've added a pull request:
https://github.com/sparklemotion/mechanize/pull/443

[2015-09-16 11:46] raphinesse opened #444 "Page#form_with crashes when using :search option"
Having fetched a page into the variable `page`, the following error is thrown when trying to query forms in the page. The trace should have all other relevant information.

[code]

For your convenience: [The crash location](https://github.com/sparklemotion/mechanize/blob/v2.7.3/lib/mechanize/element_matcher.rb#L44)

[2015-09-17 03:00] xuxiangyang commented on #444
I think
you should read this [form_with criteria](https://github.com/sparklemotion/mechanize/blob/master/lib/mechanize/element_matcher.rb#L29)

search is not a method for form，you should use [form methods](https://github.com/sparklemotion/mechanize/blob/v2.7.3/lib/mechanize/form.rb) as search key

I hole that would be useful for you.

[2015-09-17 09:30] raphinesse commented on #444
Please note that `:search`, `:css` and `:xpath` keys are treated specially. Also, note that the behavior expected by me is explicitly supported in the [documentation](http://docs.seattlerb.org/mechanize/Mechanize/Page.html#method-i-forms_with).

[2015-09-17 10:12] xuxiangyang commented on #444
try to use xpath with search?

[2015-09-17 10:15] raphinesse commented on #444
The latest release (2.7.3), which I used, only supports the `:search` key. The version supporting `:css` and `:xpath` keys is not yet released.

[2015-09-18 22:55] gchan commented on #433
It appears to have been updated in the gemspec to ~> 1.6 for nokogiri on the master branch. However this version has not been published to RubyGems.

[2015-10-02 13:01] forced-request opened #446 "Cookies not being Merged w/ Custom Cookie Headers"
Hello,

I'm writing a tool that leverages Mechanize (2.3 from RubyGems) with custom headers (such as authorization headers, cookies, etc). I discovered some issues when dealing with 302 redirects in certain circumstances that relate to the following.

When leveraging custom headers, cookies are not being set as received from the HTTP response.

Consider this working example:

[code]

This examples

[2015-10-04 04:01] jschroeder9000 opened #447 "Release new version on rubygems"
The last release to rubygems was almost two years ago (2.7.3 on November 14, 2013).  In the time since then there has been 90 commits that address the rubyforge shutdown, fix bugs, and add new features (I'm particularly keen on 58cfaeb).  There has been a couple version tags pushed to github, but they were not pushed to rubygems.

Please consider releasing a new version.

[2015-10-08 07:12] xuxiangyang opened #448 "why Mechanize cookie save function does not save origin property"
I have a question, why Mechanize does not save Origin property? And what properties  should be save with cookie? how can I find some standard about cookies persistent？

I need some help.
Thank you.

[2015-10-10 04:21] kenshinji opened #449 "Can't install mechanize on my VPS by gem install command"
I tried to install mechanize gem on my Ubuntu 14.04.1 VPS.

After  running   `gem install mechanize` I got:

![error](https://cloud.githubusercontent.com/assets/1403893/10409222/64e9ed88-6f49-11e5-9d5f-15c72a722704.png)

[2015-10-10 12:42] kenshinji commented on #449
I finally figured this out, it is due to lack of libgmp-dev
http://stackoverflow.com/questions/33041863/cant-install-mechanize-on-my-vps-by-gem-install-command?noredirect=1#comment53905059_33041863

[2015-10-10 12:42] #449 closed

[2015-10-13 12:11] GaryCarneiro commented on #433
Ok.

[2015-10-13 12:11] #433 closed

[2015-10-13 17:58] knu commented on #433
What's the problem with ~>1.4, anyway?

[2015-10-14 15:32] GaryCarneiro commented on #433
@knu

There was no problem from Ruby's perspective. Would work great from Gem File.
But I was making RPMs using (FPM)[https://github.com/jordansissel/fpm] which gave dependency error.

[2015-10-15 05:19] knu commented on #433
Updating "~>1.4" with "~>1.6" simply makes the version requirement stricter, so I don't really see how it solves dependency error.  "~>1.4" is equivalent to [">=1.4", "<2.0"] and "~>1.6" is equivalent to [">=1.6", "<2.0"].

[2015-10-28 19:27] postmodern opened #450 "Specific 401 response causes infinite loop in Mechanize::HTTP::WWWAuthenticateParser#parse"
### Steps to Reproduce

    agent = Mechanize.new
    agent.get("https://adr20.myoutlookonline.com/autodiscover/autodiscover.xml")

### Expected Result

An exception stating that I need proper credentials.

### Actual Result

Infinite loop which spikes ruby to 100% CPU usage.

### Versions

* ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-linux]
* mechanize-2.7.3

### curl

    < HTTP/1.1 401 U

[2015-10-28 19:49] postmodern commented on #450
Confirmed it's triggered by a space in the `WWW-Authenticate` header:

### PoC

<pre>
#!/usr/bin/env ruby

require 'sinatra/base'

class App < Sinatra::Base

  get '/' do
    response['WWW-Authenticate'] = 'Basic realm ="local"'
    halt 401
  end

end

App.run!
</pre>

[2015-11-05 09:57] activestylus opened #452 "Files only partially downloading"
I'm iterating over a list of links on a page. Mechanize clicks each link and then find the download URL on the resulting page in a transact block. My script runs correctly but all my files are truncated at 24K filesize

[code]

Another thought: are there any sort of callbacks which can determine whether a file has completed downloading? Ideally I'd like to set up a download queue so I don't hammer

[2015-11-06 22:02] jkalef opened #453 "Testing Mechanize with Rspec"
Do you have any specific recommendations on how to create "mock" mechanize responses for RSPEC testing?

[2015-11-10 09:38] swistaczek commented on #447
+1 @leejarvis

[2015-11-13 13:30] sebbacon opened #454 "Memory leak"
There's apparently a memory leak somewhere in mechanize or its dependencies. Running the script below gives:

[code]

Preliminary investigation suggests `net-http-persistent` might not be cleaning up threads properly (race condition?) but I've run out of time for now to investigate, so thought I would at least record where I'm at here for posterity and/or pointing out clangers in my test logic.

[

[2015-11-16 09:38] leejarvis commented on #450
Closed by #451, thanks for reporting

[2015-11-16 09:38] #450 closed

[2015-11-16 09:41] leejarvis commented on #453
Check out Mechanize::TestCase - https://github.com/sparklemotion/mechanize/blob/master/lib/mechanize/test_case.rb

[This line](https://github.com/sparklemotion/mechanize/blob/master/lib/mechanize/test_case.rb#L68) shows how you create a `Mechanize::Page` from some arbitrary content.

Hope that helps

[2015-11-16 09:41] #453 closed

[2015-11-16 09:41] leejarvis commented on #447
Sorry I've been super hectic moving house lately. Myself or @knu can hopefully do this some time this week

[2015-11-16 09:57] knu commented on #447
@leejarvis I'm not listed as member of the owners of the gem, so please add me if you don't have the time.  Also, is it OK to leave the breakage with JRuby (and Rubinius), or should we fix that before rolling out a new release?

[2015-11-16 10:02] leejarvis commented on #447
@knu Thanks, I've added you as an owner (sorry, I thought you were!). I think we should look into the JRuby (and rbx) breakage before rolling out, hopefully it's not a time consuming problem

[2015-11-16 13:04] knu commented on #447
@leejarvis Thanks!  I'll look into the breakage hopefully tomorrow and prepare a release if the problem can be solved.

[2015-11-16 17:58] jkalef commented on #453
Thanks for your help.  This is great!

Cheers,

Jared

On Mon, Nov 16, 2015 at 1:41 AM, Lee Jarvis <notifications@github.com>
wrote:

[2015-11-18 00:15] weshatheleopard commented on #447
+1

[2015-12-05 13:58] southwolf commented on #448
In most cases you do not need 'origin' property. Name, value, domain, path, secure would be enough.
See
https://www.nczonline.net/blog/2009/05/05/http-cookies-explained/
http://curl.haxx.se/rfc/cookie_spec.html
http://tools.ietf.org/html/rfc2965

[2015-12-05 14:02] southwolf commented on #448
Or Chinese documents if you prefer:
http://www.cnblogs.com/sunzhenchao/p/3897890.html

[2015-12-06 00:31] knu commented on #448
Mechanize complies with [RFC 6265](https://tools.ietf.org/html/rfc6265), and for the "origin" attribute there is [an Internet draft](http://tools.ietf.org/html/draft-west-origin-cookies-01) but it is still in progress.

[2016-01-04 10:36] dwo opened #457 "Infinite loop with 301'd robots.txt"
I commented on #240 but I think it'll get lost on a closed issue.

I saw a `stack level too deep (SystemStackError)` when trying to fetch from a site which has 301-redirected its `robots.txt`.

I think what is happening is...
* Try to download `/`
  * Download `robots.txt` to check if we can download `/`
  * 301 redirect, download `robots_foo.txt` instead
    * Download `robots.txt` to check if we

[2016-01-04 15:10] knu commented on #457
I'll fix this shortly, but I'm pondering how redirection should be handled when fetching robots.txt; is it OK if redirection is not followed if the original mechanize object does not have `redirect_ok` set to true?  Should the redirection settings be overridden while fetching robots.txt?

[2016-01-04 15:26] knu commented on #457
Also, redirection to another origin may possibly be used as means of attack.  Since /robots.txt on the redirected site is not looked upon, a spam site owner could redirect a site's /robots.txt to some other site's robot-forbidden content to get robots to access it.  This may not be much of a concern, though.

[2016-01-04 16:53] dwo commented on #457
It does feel kind of messy doesn't it? I have only come across one site doing this ever.

At least the `stack level too deep` error should be avoidable in this unusual situation.

[2016-01-05 08:50] #457 closed

[2016-01-05 09:44] dwo commented on #457
Thank you @knu :heart: :green_heart: :red_circle: :blue_heart: :sparkling_heart:

[2016-01-06 14:52] chris-reeves opened #458 "Basic authentication fails when specifying credentials for a realm that contains uppercase characters"
Basic authentication works fine when credentials are added for a URI and the realm is not specified, or when the realm contains no uppercase characters. When credentials are added for a specific URI and realm combination, and the realm name contains uppercase characters, authentication will fail and throw an exception (Mechanize::UnauthorizedError).

## Analysis
response_authenticate correctly det

[2016-01-07 15:18] knu commented on #458
This should be fixed, but there would be a compatibility problem if we just stopped downcasing.  I think it should first try exact match and if it fails then fall back to case insensitive match.  I'll implement it if no one does.

[2016-01-07 15:23] knu commented on #458
Ah, I may have misread your analysis.  Your fix is probably the right way to go.

[2016-01-07 16:55] chris-reeves commented on #458
When I initially looked at this I also thought there was the potential for compatibility issues, but I think we should be OK.

I did try adding credentials using a downcased equivalent of my realm name to try and work around this, but then the check towards the top of response_authenticate:
`unless @auth_store.credentials? uri, challenges then`
fails to find the credentials and aborts at that poin

[2016-01-09 07:17] MrJoy opened #460 "mime-types 3?"
Would allowing newer versions of the `mime-types` gem be feasible at the moment?  It looks like, barring use of deprecated methods, it should be a pretty painless changeover...

[2016-01-10 00:23] drbrain commented on #460
The [mail gem](https://rubygems.org/gems/mail) depends on `mime-types` 1.x or 2.x.  The mail gem is used by Rails, so if we were restricted to `mime-types` 3.x we won't be compatible with rails.

If we supported 1.x through 3.x it would be OK.

[2016-01-10 11:34] dmitry commented on #454
`mechanize.max_history = 0`

Will save you from the "memory leak".

[2016-01-19 11:15] HimanthTag opened #461 "#<Net::HTTP::Persistent::Error: too many connection resets (due to Connection reset by peer - Errno::ECONNRESET)>"
I am trying to crawl one of the site for which i keep on getting the following error

Net::HTTP::Persistent::Error: too many connection resets (due to Connection reset by peer - Errno::ECONNRESET) after 0 requests on 52672100, last used 1453200951.8505864 seconds ago

As i check their robots.txt, it seems they allow scrapping, not sure what else could be the reason.

I would greatly appreciate if

[2016-01-21 06:48] knu commented on #460
@MrJoy Would you show us how mechanize does not work well with mime-types?  At least I fixed the test suite to work with mime-types 3.x, but haven't looked into real-world use cases.

[2016-01-22 20:37] maia commented on #460
The upcoming (currently in rc2) mail gem 2.6.4 supports `mime-types` 3.0, so mechanize could update its gemspec soon.

[2016-01-23 02:45] drbrain commented on #460
legacy rails apps will be using legacy mail, so mechanize will still need to be flexible with its dependecy

[2016-01-23 02:58] maia commented on #460
Wouldn't that imply that running mechanize in an app that requires mail >= 3.0 for some reason will not be possible?

[2016-01-23 04:13] knu commented on #460
I'll remove the `"< 3"` requirement later.  I thought I had done that already.

[2016-02-12 17:22] muescha opened #462 "mechanize + nokogiri --> mechanize + oga (or better: mechanize + any other html parser)"
i use mechanize which requires nokogiri (which is a PITA to install)

is it possible to have a mechanize + oga?

or better more generic:  mechanize + any other html parser

PS:
requested before in: https://github.com/YorickPeterse/oga/issues/106

[2016-02-12 18:26] leejarvis commented on #462
It's certainly possible, and the HTML parser is actually technically pluggable. That said, Mechanize relies on the Nokogiri API so I think this would be non-trivial. In the case of Oga, you could write a proxy parser. Something like this:

[code]

Unfortunately as you can see it requires some monkey patching and awkward exception handling. I think the Mechanize code would need some significant ref

[2016-02-18 18:18] chris-reeves commented on #458
Is there anything further that you would like me to do in order to get this merged? My analysis suggests that this isn't a breaking change so should be safe.

The main area of uncertainty was around how @authenticate_methods was being populated, but looking more closely at the code I worked it out so I believe the analysis to be sound.

[2016-02-19 04:48] knu commented on #458
Sorry for keeping you waiting so long, it's only due to my having limited time to work on this project.  Will look into #459.

[2016-02-19 04:58] #458 closed

[2016-02-19 05:07] knu commented on #458
The latet specification ([RFC 7235](http://tools.ietf.org/html/rfc7235#section-2) somehow does not explicitly say it's case-sensitive, but it's probably OK to take it so if it does not say it's case-insensitive.

[2016-02-24 18:40] chris-reeves commented on #458
Thanks for merging. No apologies are necessary for the wait as I completely understand the lack of time, and I just want to say that I do really appreciate the time and effort that you and others have put into developing and supporting this incredibly tool, so thanks for that!

As far as RFC 7235 goes, although it doesn't explicitly state that authentication parameter values are case-sensitive, it

[2016-02-25 18:09] shideneyu opened #463 "Incompatibility with JRuby"
Contrarily to #209 , Mechanize is not compatible with JRuby.  Every Mechanize builds fail for JRuby on Travis.

https://travis-ci.org/sparklemotion/mechanize/jobs/91557462

I also got the same issue as Travis while using Mechanize on JRuby:

[code]

[2016-02-27 21:22] MatzFan opened #464 "socks proxy support?"
I see that Mechanize doesn't currently support this from [#422](https://github.com/sparklemotion/mechanize/issues/422). Does this mean you would not consider adding this feature - even via a PR? For example, I have successfully used the simple monkey-patch in [this Gist](https://gist.github.com/kuroineko/1854726). It does add a dependency on the [socksify](https://github.com/astro/socksify-ruby) g

[2016-03-03 01:26] chaner opened #465 "Follow_meta_refresh only works on the second try on the same agent"
Calling the get method twice seems to have different outcomes on the same agent. With the follow_meta_refresh flag set, it should return the result of the second call.

[code]

[2016-03-13 21:57] chrisallick opened #466 "way to set limit to avoid Faraday::RedirectLimitReached ?"
Hello,
I was running into erro

[code]

And am using

[code]

as a work around, but it would be nice to simply set a redirect limit.

[2016-03-13 21:58] chrisallick opened #467 "way to set limit to avoid Faraday::RedirectLimitReached ?"
Hello,
I was running into erro

[code]

And am using

[code]

as a work around, but it would be nice to simply set a redirect limit.

[2016-03-13 21:58] #466 closed

[2016-03-14 08:47] itsmevasanth opened #468 "Submitting a form returns Mechanize::ResponseCodeError: 404 => Net::HTTPNotFound"
I'm tying to submit a form and I keep getting Mechanize::ResponseCodeError: 404 => Net::HTTPNotFound. The form has only a single submit and I'm using click_button to submit the form.

[2016-03-14 13:56] #468 closed

[2016-03-23 15:42] maia commented on #460
@knu The `"< 3"` requirement is still in `mechanize.gemspec` – looking forward to the removal, thanks a lot!

[2016-04-06 12:09] SorataAragaki opened #469 "Scraping ajax enabled webpages"
When I scrap some pages that have lots of ajax and js script using mechanize，some information lost compared with original pages. Mechanize doesn't have a js implement , but gem watir-webdriver is really really slow . Are there some great solutions?

[2016-04-13 14:42] yangshuairocks opened #470 "Install mechanize with Ruby 2.3 on Windows 7 got error"
Anyone can help on it please?

[code]

[2016-04-18 11:52] SorataAragaki commented on #470
ERROR:  Error installing mechanize:
        nokogiri requires Ruby version < 2.3, >= 1.9.2.
Probably Ruby version too high.
You can retry after reinstalling Ruby version 2.1 or 2.2 .1

[2016-04-21 08:16] IBazylchuk commented on #460
+1 3th version has memory optimizations. What status on that?

[2016-04-27 01:50] alkalinecoffee commented on #463
This appears to be resolved in 0e827f296ff29e6b35ed700a47694aea0a57a561

[2016-04-29 04:41] EvanTedesco commented on #385
agent.gzip_enabled = false  fixed the issue for mea as well.  When I was handling the path error I was getting content-encoding error.  agent.gzip_enabled = false seemed to fix both issues for me.

[2016-05-05 16:43] knu commented on #460
Sorry, this just slipped from my todo list.

[2016-05-05 17:09] IBazylchuk commented on #460
@knu Are you planning release it with bump version soon?

[2016-05-09 16:59] cartoloupe opened #472 "documentation for Mechanize::Agent#allowed_error_codes"
The [changelog](https://github.com/sparklemotion/mechanize/blob/master/CHANGELOG.rdoc#260) mentions addition of `Mechanize::Agent#allowed_error_codes`.

However, I was unable to locate this feature or its usage in the docs or guides.

How does one go about updating these [docs](http://docs.seattlerb.org/mechanize/)?

I am currently using this feature like this and it is working:

[code]

[2016-05-15 04:34] Ekultek opened #473 "Unable in gem install mechanize"
[code]

However!!!!!

[code]

So it's bluntly obvious that `nokogiri` is installed, what do I do?

[2016-05-15 04:47] Ekultek commented on #473
I figured it out, for everyone having this issue on Windows 7:

First install `nokogiri`'s previous version: `gem install nokogiri --pre`
Next install `nokogiri` version 1.6: `gem install nokogiri -v 1.6`
Finally: `gem install mechanize` and it will work!

[2016-05-15 04:47] #473 closed

[2016-05-15 12:47] Ekultek commented on #470
@SorataAragaki that's incorrect, it has to do with their ruby version, listen closely, in order to install it you have to install Nokogiris previous version, then from there you have to install version 1.6, after you have those installed go ahead and install mechanize, it will work. For more details see here: http://stackoverflow.com/questions/37234569/unable-to-gem-install-mechanize

This is the

[2016-05-23 14:37] santosh-btc opened #474 "Facebook Scraping issue"
agent = Mechanize.new

agent.get 'http://mediaserver-cont-ch1-2-v4v6.pandora.com/images/public/rovi/albumart/3/2/7/3/075679453723_500W_500H.jpg - work in local and give Mechanize::Page object.

agent.get 'http://mediaserver-cont-ch1-2-v4v6.pandora.com/images/public/rovi/albumart/3/2/7/3/075679453723_500W_500H.jpg - not working in production.gives Mechanize::Image object.

Please Help me. i am stuc

[2016-05-23 15:36] steve0hh commented on #444
I am also having troubles doing the following too:

[code]

Also throws the error

[code]

[2016-05-26 18:57] daidoji commented on #464
+1

[2016-06-07 14:24] a-macnamara opened #477 "Authorization not being sent?"
I am trying to debug a request that's not working. It's going to an internal site that is protected by an IIS authentication scheme. I've tried various combinations of basic and NTLM authentication per the documentation, but haven't been able to figure this out: when I do a packet capture, the "Authorization" header is not being sent by Mechanize.

Server response excerpt showing the supported Aut

[2016-06-07 16:27] a-macnamara commented on #477
After further digging, it looks like this might be a duplicate of issue #442. The hang occurs in the `parse` function in www_authenticate_parser.rb. By applying @gchan's patch I was able to get it to work.

[2016-06-07 16:27] #477 closed

[2016-06-14 09:27] uksa commented on #469
You could try phantomjs with something like selenium-webdriver, at least this would provide you with a headless option. The alternative is to figure out what the underlying js request is and convert this to something mechanise can use.

[2016-06-14 09:29] uksa commented on #440
Given this has been hanging around since Sep2016, and a pull request was created, seems no point in leaving this open.

[2016-06-14 09:29] #440 closed

[2016-06-14 11:55] SorataAragaki commented on #464
+1

[2016-06-27 22:25] acrogenesis opened #478 "switch to Typhoeus"
Are you willing to switch to Typhoeus instead of Net::Http, I'm looking into doing this if you're interested I can make the PR when it's done.

[2016-06-28 00:07] drbrain commented on #478
What would be the benefits?  libcurl isn't significantly faster than Net::HTTP, and isn't familiar to the maintainers.  Switching could add many bugs that we'd need to deal with for some time.

[2016-06-28 12:08] knu commented on #478
What about Mechanize support Faraday instead?  There are many HTTP backends out there and a single backend cannot fill the needs of every user and occasion anyway.

[2016-06-28 13:51] leejarvis commented on #478
I think supporting Faraday and defaulting to Net::HTTP would be a nice compromise. However, I believe it'll be a fair amount of work. That said, Mechanize doesn't really expose the mechanics of the HTTP library by design; so I'm not really sure what we gain. Why do you want to use Typoeus instead of Net::HTTP, @acrogenesis?

[2016-07-18 03:58] lukad03 opened #479 "Hostname Mismatch and SNI"
I'm connecting to a server that uses SNI. As a result, I'm randomly seeing hostname mismatch errors. When connecting to the server using cURL/openssl with the hostname specified though, the correct certificate is always returned.

I know VERIFY_NONE works but that also introduces serious vulnerabilities that I'd like to avoid.

Is there a workaround for specifying the hostname as an argument for a

[2016-07-19 01:23] lukad03 commented on #479
It looks like HTTP Persistent enables a way to pass in the hostname here: https://github.com/drbrain/net-http-persistent/blob/master/lib/net/http/persistent/ssl_reuse.rb So if Mechanize enabled a hostname attribute to be defined, in theory this would be resolved.

[2016-07-23 18:40] maia commented on #460
@knu As this issue seems to have been fixed 10 weeks ago: is there anything holding back bumping the version so we can use mime-types 3.x? Thanks!

[2016-07-26 02:56] TheKidCoder commented on #463
This is still an issue in the RG build. When will a new release be cut?

[2016-07-27 17:08] lnussbaum commented on #436
Hi,

I think that, instead of using ntlm-http, mechanize should just use rubyntlm. ntlm-http actually bundles an old version of rubyntlm source code.

I could not find if mechanize used what is added by ntlm-http on top of standard ntlm, but at least it seems to work without any issue.

[2016-07-27 17:50] zdavatz commented on #436
Thanks for posting!

[2016-07-27 17:50] #436 closed

[2016-08-01 06:28] knu commented on #479
What version of OpenSSL are you using?  It looks like `OpenSSL::SSL::SSLSocket#hostname=` is available if OpenSSL is configured with `--enable-tlsext`, which was added in OpenSSL 0.9.8f and made default in 0.9.8j.

[2016-08-01 06:40] knu commented on #474
Isn't it a JPEG image?  If so, I think it is your production environment where it is working correctly.  How does the Mechanize::Page object you obtain locally look like?  Is it a valid HTML document?  Chances are some edge servers of the CDN are responding with a broken copy of the content with the wrong content-type or something.

[2016-08-01 07:17] knu commented on #472
@drbrain @tenderlove What can we do to update the doc on docs.seattlerb.org in a timely manner?  It is currently so outdated.

[2016-08-01 07:23] knu commented on #472
There is also mechanize.rubyforge.org, but as you know rubyforge will be shut down eventually.
Should we point to http://www.rubydoc.info/gems/mechanize/Mechanize for now?

[2016-08-01 07:25] knu commented on #472
Aside from where to host our latest docs, I slightly improve rdoc for the attribute in b1fcc004.

[2016-08-01 08:22] hadmut opened #481 "Mechanize::File lacks #content_type()"
Hi,

I am currently using mechanize to access a web site which allows to query several files (.csv, .pdf, .xml,...) through a form. Works well with mechanize, after filling and submitting the form I get a Mechanize::File object as expected.

Unfortunately the Mechanize::File does not tell the content-type, it does not have a content_type() function. Since inspecting the content is poor style, it w

[2016-08-01 10:23] knu commented on #333
@alex2b Could you test the above PR to see if it fixes your problem?

[2016-08-01 14:25] lukad03 commented on #479
I'm using `OpenSSL 1.0.1f 6 Jan 2014`. Upon further investigation, I've found that the server I'm scraping has a self-signed root certificate in addition to it's other valid certificates . Would this cause intermittent failures @knu?

[2016-08-01 15:26] knu commented on #479
I'm not sure as I have no idea what exactly is the error you are seeing.
In addition to some error backtrace, a code snippet for reproduction would really be nice.

[2016-08-01 15:47] lukad03 commented on #479
I don't have access to the error at the moment, but I know it included `hostname does not match the certificate` and it occurs intermittently.

Here's the code snippet:
[code]
Using `ruby "2.2.3"` with `gem "mechanize", ">= 2.7.4"`

[2016-08-08 11:48] cielavenir commented on #436
Before closing, please update the gemspec... I have very bad difficulty using gem command. Actually I didn't want to close #407, but I was just sure my proposal would not be accepted (bah)

[2016-08-08 15:44] pocari opened #483 "Mechanize::FileConnection not working in windows"
### my environment

ruby 2.1.6p336 (2015-04-13 revision 50298) [x64-mingw32]
mechanize 2.7.4
### problem

In Windows,  `URI::Generic#path` returns path which not include drive letter

e.g)

[code]

Parsing file which exists in C drive, 404 error occured during executing ruby script which exists in D drive.
I think Mechanize is trying to read file in D drive  because uri.path is not include drive l

[2016-08-12 08:22] maia commented on #460
@knu In case there is a problem that needs to be fixed before bumping the version, could you share the specifics? Maybe we can assist. Thanks.

[2016-08-22 07:32] #333 closed

[2016-08-22 16:17] knu commented on #460
Finally, I've rolled out a new release 2.7.5.  I'd appreciate if any of you could check it out and give some feedback on this!

[2016-09-06 15:27] Sathors commented on #444
I can confirm the problem @steve0hh is having.
[code]
raises
[code]

[2016-09-07 13:29] knu commented on #444
Indeed, this feature has been on the documentation for a long time but has never worked for forms, form fields and frames.  They would work only for such elements as links and images, it seems.

The above PR should fix the problem, so please give it a try.

[2016-09-07 14:09] Sathors commented on #444
It is indeed now working for me, using the "search" and the "css".

Thanks a lot!

[2016-09-07 16:10] knu commented on #444
Thanks for the quick confirmation.  I'll add some more tests and merge it.

[2016-09-08 02:08] #444 closed

[2016-09-21 17:59] Ekultek commented on #464
+1

[2016-09-21 20:43] drbrain commented on #464
I don't think we want a hard dependency on the socksify gem. We could incorporate this as `require 'mechanize/socks_proxy'` that would raise an exception saying "install socksify" if it wasn't installed.

[2016-09-21 20:45] MatzFan commented on #464
Eminently sensible solution - would you like a PR to implement this?

[2016-09-23 02:31] hubsmoke commented on #461
I also see this issue a lot. Been scratching my head about it for a while

[2016-10-14 10:23] hendricius commented on #454
Did this actually fix the problem? cc @sebbacon

[2016-10-14 12:20] sebbacon commented on #454
Yes, thanks.

I was wondering if there's a good way to make this more explicit. Should `max_history` be set to zero by default, perhaps?

[2016-11-03 17:01] neohunter commented on #394
If you need to send disabled elements use Mechanize 2.5 this was implemented on 2.6

I agree that there should be some way to remove the disabled attribute.

[2016-11-03 19:08] neohunter commented on #394
Oh found a workaround:

[code]

`node` returns the Nokogiri Element.

[2016-11-22 01:31] zacts commented on #462
I would love to one day see mechanize support oga instead of nokogiri. I can't volunteer yet, as I'm still a Ruby novice, and I'm busy with school. Perhaps by Q3 2017 I might try to do patches towards this goal, if no one else has made progress with this.

[2016-11-24 17:22] muescha commented on #462
Still there is a runtime depency in gemspec so that i can not install mechanize without installing nokogiri (which fails on my macbook)

[2017-01-27 04:32] skippyPeanutButter commented on #481
Hey @hadmut, couldn't you just access the content-type from a Mechanize::File object with the `[]` method?

For example

[code]

[2017-03-30 22:36] giglemad commented on #420
%5C is the escape code for backslash, not forward slash. This is not a bug, maintainers might want to close this

[2017-03-31 01:07] #420 closed

[2017-03-31 01:10] knu commented on #420
Thanks, I fixed it so it would raise ArgumentError instead.

[2017-04-10 18:50] Jasmine-Lognnes opened #488 "cURL example"
It would be great to have an example of how to go from Chrome Devel Tools' Copy cURL to Mechanize, as it it not trivial.

It can be as scary as

[code]

[2017-04-11 10:26] petRUShka opened #489 "Mechanize: search in page body force an encoding exception"
I have following pretty simple code

[code]

And on the last line of that code ruby yield an error:

[code]

I consider that behavior as a bug.

Solutions [from that question][1] don't help.

  [1]: http://stackoverflow.com/questions/8864493/how-to-get-mechanize-to-auto-convert-body-to-utf8

[2017-04-11 14:52] genesisgonza05 commented on #461
Hi, I have this problem with an simple request in my production code, in local it's work ok, but in production enviroment not, can you help me? thanks.

[code]

I get this error:

I am working with ruby 2.0.0 and mechanize 2.7.5

I try change the `keep_alive` to false, add an `idle_timeout`, this code: [http://scottwb.com/blog/2013/11/09/defeating-the-infamous-mechanize-too-many-connection-resets-

[2017-04-28 18:18] tsaohucn opened #490 "Is there any way can stub HTTP request in mechanize?"
I use webmock to stub HTTP request in mechanize, but it looks like incompatible, is there any way can stub HTTP request in mechanize?

[2017-05-01 15:24] maia opened #491 "upgrade net-http-persistent dependency"
Would it be possible to upgrade the `net-http-persistent` dependency to `"~> 3.0"` for Ruby 2.x versions? It has been released in October 2016, and it would allow to upgrade other gems which do not accept a 2.x version anymore.
[code]
Thanks!

[2017-05-17 10:40] thbar commented on #447
Based on the [rubygem page](https://rubygems.org/gems/mechanize), it looks like 2.7.5 was released in 2016.

I suppose this means this issue can be closed?

[2017-05-18 12:10] knu commented on #447
Thanks, closing this!

[2017-05-18 12:10] #447 closed

[2017-05-19 20:27] nivshah opened #493 "page.title gives unexpected results on pages with multiple <title> tags"
I want to pull the title of a user-provided URL. When I use `page.title`, on some pages that have multiple <title> tags (possible reasons: SVGs with <title> tags, other metadata inserted downpage) I get a concatenation of title strings that aren't the expected contents of the <title> tag inside <head>.

I am currently using `page.at('head title').text.strip` to get the page's title consistently. D

[2017-06-10 21:22] maia commented on #491
@knu Please excuse the request, but is there anything blocking the upgrade of the `net-http-persistent` dependency? Thanks.

[2017-06-17 21:13] sempervictus opened #495 "Replace unmaintained HTTP NTLM library with RubyNTLM"
The HTTP NTLM library appears dead - almost 10y since an update. RubyNTLM is actually conflicting with the old gem in bundles which end up with both as dependencies when Mechanize is a dependency itself.

[2017-07-03 17:04] reprah commented on #385
@leejarvis Is there anything I can do to fix this issue?

I ran into it using mechanize 2.7.5 while receiving a response where the `Content-Encoding` header was set to `identity`.

[code]

Here's the stacktrace:

[code]

"identity" is a [valid value for the Content-Encoding header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding). I noticed it isn't a handled Content-Enc

[2017-07-11 14:09] kinopyo commented on #490
@tsaohucn Any chance you were missing a header when stubbing with webmock? 🙂 The example below is compatible with mechanize.

[code]

[2017-07-11 16:09] Argorate opened #497 "bug when getting special #id (specials caracters)"
I use wikipedia to get definitions and some informations on words.

if you get this source : view-source:https://fr.wiktionary.org/wiki/dessin

you will see `<span class="mw-headline" id=".C3.89tymologie">`

but if I try : `page.search('#C3.89tymologie')` or `page.search('.mw-headline[id=".C3.89tymologie"]')` it doesn't works. The first example raise an error :  `Nokogiri::CSS::SyntaxError

unexpe

[2017-07-27 17:06] brauliobo opened #498 "RuntimeError: can't add a new key into hash during iteration"
[code]

[2017-08-06 12:30] maia commented on #491
@knu, @olleolleolle, any chances of updating the `net-http-persistent` dependency? Thanks!

[2017-08-07 03:00] knu commented on #491
@maia Looks like upgrading net-http-persistent to 3.0 would require some change.  Also, I don't see why we should restrict the dependency for ruby >= 2.0 to net-http-persistent ~> 3.0.  It's been working fine with 2.x on ruby >=2.0.

[2017-08-07 06:15] maia commented on #491
@knu I have no objections to keeping loose requirements. My specific interest is to be able to run current versions of mechanize together with current versions of [link_thumbnailer](https://github.com/gottfrois/link_thumbnailer), which has updated their net-http-persistency to ~> 3.0 in gottfrois/link_thumbnailer@286c685e27db168ad69bcdf1d33ef1f6b0de8587 - I'm unsure why the constraint on their sid

[2017-10-02 19:14] orkenstein opened #500 "Can not login to Wex.nz"
I'm trying to perform a login to http://wex.nz, then open profile page, but the resulting page looks like auth fails or never happens. The code:
[code]
What I'm doing wrong?

[2017-11-02 11:27] dwkns commented on #469
It's not too difficult to figure out what the XMLHttpRequests are. If you use a proxy server like [Charles](https://www.charlesproxy.com) you can inspect the all the calls the page makes and then usually mimic them with Mechanize.

This doesn't however give you the excellent (easy to read) output that Mechanize produces and you can't interact with the resultant DOM. I'd love to see the DSL of Mech

[2017-11-06 13:28] brauliobo opened #504 "Please add new maintainers"
Hi, there is quite a number of PRs, ruby and nokogiri updates to be done and the current team isn't able to continue with the work. Maybe there are people out there that could help. I could contribute with some basic tasks if anyone with more time can't.

[2017-11-14 09:33] zhangxinZKCD opened #506 "more than one control matching name 'adminname', type 'hidden'"
Webpage part of the code is as follows:
------------------------------------------------------------------------------------
<input id="languageSelect" name="adminname" type="hidden" value=""/>
--
  | <input id="systemSelect" name="adminname" type="hidden" value=""/>
  | <input id="userName" name="adminname" style="background:#fff url(&#39;./resources/images/username.png&#39;) no-repeat 95%;paddin

[2017-11-15 00:59] #506 closed

[2017-11-15 23:15] weshatheleopard commented on #504
I can possibly help.

[2017-11-16 00:17] weshatheleopard commented on #464
@drbrain: see https://github.com/sparklemotion/mechanize/pull/507

[2017-11-16 16:36] zenspider opened #509 "Tests aren't clean"
Many many deprecation warnings from mechanize itself (I just submitted #508 to clean all MT deprecation warnings) and 4 errors/failures from the tests... Makes it harder / scarier to submit PRs if master isn't clean. Is there a branch that is happy?

[2017-11-16 16:42] zenspider commented on #509
#508 now has fixed tests... Haven't addressed the deprecation warnings from mechanize yet.

[2017-11-16 17:45] zenspider commented on #509
Aaand now #508 runs entirely clean (other than top level deprecations from mechanize/cookie).

[2017-11-16 20:09] zenspider commented on #500
That form requires javascript to be run when the form is submitted. You'll might have to emulate that.

[2017-11-17 05:40] zenspider commented on #441
This is way stale so I'm not sure if you're on board anymore... but my read of the current code is that if it doesn't get an auth_scheme (a token), it circles back around and grabs another. Am I misunderstanding something?

[2017-11-17 06:40] gchan commented on #441
This still appears to be an issue (the test I've written in #442 still causes an infinite loop). If it doesn't get an auth_scheme the `StringScanner` doesn't proceed so circles back to try again and will fail again.

I've rebased my PR at #442 for your consideration.

[2017-11-22 20:08] jm3 opened #511 "Mechanize#get segfaults on Rails 5.1.4 (Ruby 2.4.0) if bundled BEFORE rubocop"
I can't tell if this is an issue with Mechanize, Rubocop, or Ruby 2.4.0, but, `Mechanize#get` will cause Ruby & Rails to segmentation fault if mechanize is bundled *before* rubocop.

_Update: this appears to work in Ruby 2.4.2._

## To reproduce:

1. `rails new newapp`
2. add 'mechanize' and 'rubocop' to the gemfile and re-bundle
3. `rails c`
4. `scraper = Mechanize.new; scraper.get 'http://www.go

[2017-12-08 17:38] ttilberg opened #512 "`set_proxy` prepends value with "http://" regardless of what is passed in"
Some services require that when you specify a proxy address, it includes the URI protocol (http), while some libraries handle it for you. To better accommodate abstractions, this is desirable that it adds `http` when needed -- but only if it's needed.

Mechanize is an example that handles it for you, but does so without checking what was passed in, and can create a hard-to-find error, especially i

[2018-01-02 21:22] jayqui opened #514 "How to upgrade re. security vulnerability for nokogiri < 1.8.1"
I have a small project whose Gemfile lists `gem "mechanize", "~> 2.7"`.

GitHub is telling me that

My `Gemfile.lock` includes

[code]

What version of `mechanize` should I specify to update my dependency on `nokogiri` to > `1.8.1`?

[2018-01-15 14:30] guillaumebihet commented on #514
I think you should just run "bundle update", that solved the issue for me.

[2018-01-18 17:09] MatzFan commented on #514
Latest release of Mechanize (2.7.5) specifies Nokogiri "~> 1.6" in the gemspec and is therefore potentially vulnerable. I just added this line to my Gemfile to ensure my project uses 1.8.1 or greater.
`gem 'nokogiri', '~> 1.8.1'`

[2018-02-26 09:26] IDoRemember commented on #514
nokogiri (>= 1.8.1)

run “gem start”

[2018-03-15 17:05] flavorjones commented on #514
I believe the information in this issue is sufficent to resolve the original question, so I'm closing. Please comment if there is still an issue.

[2018-03-15 17:05] #514 closed

[2018-03-16 13:33] perezgb opened #519 "Generate a new version"
Hey folks,

it seems like this gem hasn't had a new version since 2016 but there were a lot of changes since then. Any way we can get a new version released? Anything I can do to help with that?

Thanks!

[2018-04-16 16:03] tansaku opened #520 "ensuring mechanize uses TLS 1.1"
We're trying to work out how to ensure that mechanize uses TLS 1.1 and above.

There's a mention of setting the user agent in https://github.com/sparklemotion/mechanize/issues/123#issuecomment-24431143

Does anyone know if this is the right way to ensure mechanize is on a particular version of TLS? or is there some particular gem dependency that should be set?

Many thanks in advance

[2018-04-17 01:39] maxiedaniels opened #521 "Errno::EMFILE Too many files open?"
I'm using a twenty thread pool to scrape website pages using Mechanize, but I'm getting this error for some reason. There's nothing crazy about my code.. it's basically:

[code]

It's saying stuff about `/var/folders/jn/1bwvnjc145jdtjjlcd76g_fw0000gn/T/mechanize-gunzip20180416-49164-y8d24t>` which seems to be a temp folder of some sort... is there a reason I'd be hitting my system's max open files

[2018-05-16 05:32] CT-Rahul opened #522 "OpenSSL::SSL::SSLError: handshake alert"
Mechanize(2.7) does not support OpenSSL handshake for jruby-9.1.15.0

i am trying to set
agent = Mechanize.new
agent.verify_mode = OpenSSL::SSL::VERIFY_NONE

[2018-05-16 14:02] olleolleolle commented on #522
Does the above not do what you expect it to?

<details>

[code]

<summary>Output in irb, using those two lines of code</summary>

</details>

[2018-05-21 07:11] CT-Rahul commented on #522
My code is
agent = Mechanize.new
agent.verify_mode = OpenSSL::SSL::VERIFY_NONE
page = agent.get 'url'

but i got error.
OpenSSL::SSL::SSLError: handshake alert:  unrecognized_name
from org/jruby/ext/openssl/SSLSocket.java:228:in `connect_nonblock'

[2018-05-21 07:28] olleolleolle commented on #522
Web searching for this error, I found this Stackoverflow question, which may answer your question with more exact details: https://stackoverflow.com/questions/7615645/ssl-handshake-alert-unrecognized-name-error-since-upgrade-to-java-1-7-0

It is about Java, not about Mechanize. Perhaps this bug report can be closed?

[2018-05-30 14:04] rusikf opened #523 "Inifinite loop on invalid meta redirect"
Hello, in this case ( it is not W3C correct china site) there is infinite loop( meta redirect to self, but mechanize dont recognize it)
[code]
So i disabled meta redirect, and redirect manually once. Is it possible to setup `meta_redirects_limits` ? Thanks

[2018-05-30 15:14] flavorjones commented on #523
The issue here appears to be that site responding with this header:

[code]

which indicates a 200-second delay. So this is not an infinite loop (Mechanize Agent by default will limit redirects at 20), but merely a really long delay on the part of the website.

[2018-06-01 16:55] luislavena commented on #519
@knu will be possible for you to generate a new release of Mechanize? It's been a while since last version and under some scenarios I cannot deploy/use the git version.

Thank you.

[2018-06-02 03:13] #385 closed

[2018-06-02 05:41] knu commented on #493
This has been fixed by #503.

[2018-06-02 05:41] #493 closed

[2018-06-02 06:03] knu commented on #519
Just released! https://rubygems.org/gems/mechanize/versions/2.7.6

[2018-06-02 06:03] #519 closed

[2018-06-04 17:09] krishnakb opened #525 "Getting a process not implemented error after updating to 2.7.6"
We are seeing this error for 2.7.6. Works on 2.7.5

Process#getrlimit not yet implemented (NotImplementedError)
org/jruby/RubyProcess.java:959:in `getrlimit'

[2018-06-05 01:45] gchan commented on #441
Resolved by #442

[2018-06-05 01:45] #441 closed

[2018-06-05 14:32] luislavena commented on #519
Thank you @knu!!! ❤️ ❤️ ❤️

[2018-06-06 18:46] pugsiman opened #527 "ConnectionPool::PoolShuttingDownError"
Since the last release, I receive lots of `ConnectionPool::PoolShuttingDownError` exceptions with the message "no connections are checked out". I've isolated it to the net-http-persistent upgrade to version 3. As that release is several years old in itself, I assume something has broken in mechanize itself.

[2018-06-27 00:12] scottschup commented on #512
Seems like this issue should be closed now.

[2018-06-27 00:58] ttilberg commented on #512
Yes, thank you!

[2018-06-27 00:58] #512 closed

[2018-07-04 12:01] brauliobo commented on #462
@leejarvis fixed many issues with your implementation. Unfortunately, oga fails with many non-standard HTML...

[code]

[2018-07-05 09:20] maia opened #528 "memory leak in 2.7.6 (and net-http-persistent 3.0.0)?"
I'm experiencing a reproducible memory leak when updating mechanize from 2.7.5 to 2.7.6 and net-http-persistent from 2.9.4 to 3.0.0, within a few hours my worker memory usage climbs from a stable ~250MB (for the past months) by about 20MB per hour when updating these gems:

    $ bundle outdated --strict
    ...
    Outdated gems included in the bundle:
      * mechanize (newest 2.7.6, installed 2

[2018-07-06 09:44] brauliobo commented on #528
I can confirm this: https://github.com/drbrain/net-http-persistent/issues/96

[2018-07-06 09:45] brauliobo commented on #528
Downgrading to `net-http-persistent` 2.9.4 have fixed the issue. Maybe mechanize shouldn't allow 3.0 too.

[2018-07-06 09:47] brauliobo commented on #527
Also related to `net-http-persistent` 3.0, see https://github.com/sparklemotion/mechanize/issues/528

[2018-07-06 20:41] maia commented on #528
As `net-http-persistent` 3.0.0 is about two years old and there are no open issues there regarding memory leaks, it seems there's something in mechanize improperly using 3.0.0, maybe `http.shutdown` as required is not properly called by mechanize?

[2018-07-06 20:44] brauliobo commented on #528
@maia mechanize instances are being freed so the shouldn't be any references to `net-http-persistent`, but as in 3.0 version it keeps a global connection pool, which is likely the reason of the leak.

[2018-08-29 00:18] lucianoshl commented on #521
+1

[2018-09-12 06:28] rnitta commented on #497
It is not mechanize's fault.
It is the specification of Nokogiri.

and you can search such elements like below
[code]

escape `.` -> `\.`

[2018-09-17 15:16] andymeneely opened #529 "Roll back net-http-persistent to 2.9.4?"
I recently had mechanize regress for me and got this error on a file that had `require 'mechanize'`:

[code]

The way I fixed it was:
[code]
(success!)

Looking at the net-http-persistent issue - looks like a [dead gem that others are proposing abandoning](https://github.com/drbrain/net-http-persistent/issues/79). Should mechanize cap the version? Or use something different?

[2018-09-29 00:34] jakemack opened #530 "undefined method `implementation' for HTTP::CookieJar::AbstractStore:Class"
Hi, I get this error randomly when using Mechanize with Sidekiq. It is likely an autoloading issue as mentioned here: https://github.com/sparklemotion/http-cookie/issues/6. Any chance anyone here has found a workaround or fix for this?

[2018-10-24 10:38] alovak opened #531 "Published version (2.7.6) does not match the repo"
Hey!

Guys, I have noticed that Mechanize 2.7.6 published on rubygems is missing (at least) this:

[code]

but https://github.com/sparklemotion/mechanize/blob/master/CHANGELOG.rdoc#276 clearly says it's in 2.7.6 version.

P.S. I checked it locally and checked [gem](https://rubygems.org/downloads/mechanize-2.7.6.gem) file from rubygems.

[2018-10-25 08:48] m4rkw opened #532 "mechanize 2.7.6 seems to gobble RAM"
I saw the other issue about a memory leak in net-http-persistent 3.0.0 but even after rolling back to 2.9.4 I still see this behaviour.

[code]

Simply loading a page seems to endlessly consume RAM. Surely this isn't expected behaviour?

[2018-11-13 15:56] MarcoBgn opened #534 "Cannot access elements on Microsoft page"
## Description
When trying to scrape the url below, Mechanize returns an empty results set. Trying to access the form, or any element beside the title, is not possible.
We tried following redirects using headers 'location', but the end result is the same.

Is there something we are not considering?

## Environment
Mechanize version: `2.6.7`

## How to reproduce
[code]

## Issue
[code]

[2018-11-15 11:46] groverz opened #535 "mechanize v2.7.6 socksify patch no working"
mechanize v2.7.6 socksify patch no working, mechanize v2.7.5 working.

[code]

[2018-12-10 17:19] philiprasannakumar commented on #529
Thanks a lot @andymeneely

[2018-12-19 02:17] weshatheleopard opened #536 "Certain webpages cause the formation of invalid queries"
I've encountered a webpage that contains a form with the following field:

`<input id="searchText" name="" type="text" />`

It turns out that `build_query` method actually builds the query `&=` out of that field, whereas browsers actually do NOT submit anything for that particular field. Web servers seem to silently ignore such invalid field, but our test framework craps out.

Solution: fields tha

[2018-12-19 22:05] weshatheleopard commented on #491
I'm getting errors after this upgrade:
[code]

[2019-01-03 19:37] weshatheleopard commented on #532
I wonder if this is the same as Issue 528

[2019-01-23 13:12] honeypc opened #540 "How to use Mechanize with the site use AngularJS or ReactJS"
I'm trying to use `Mechanize` to get the content the page render via `AngularJS` but I can't get the content of that site. I also find the way to do that but nothing. Anyone had any solution for that, help me. Thanks so much

[2019-02-04 18:51] barbolo commented on #540
It'll be easier to interact with that website using https://github.com/GoogleChrome/puppeteer.

Mechanize doesn't run `JavaScript` code and doesn't render web pages. You should write the `AngularJS`/`JavaScript` behaviour in Ruby if you want to mimic its behaviour.

You should start by checking the network communication tab in your browser's developer tools and that may bring you some ideas on how

[2019-02-05 11:10] barbolo commented on #528
Downgrading `net-http-persistent` from 3.0.0 to 2.9.4 fixed my memory leak.

## `net-http-persistent` 3.0.0:
(each line is a pod running a Rails 5.2.2, Ruby 2.5.3 application. Max memory allowed 3.2GB)

![image](https://user-images.githubusercontent.com/274526/52269525-754cb180-2925-11e9-98d0-b77e72190741.png)

## `net-http-persistent` 2.9.4:
(each line is a pod running a Rails 5.2.2, Ruby 2.5.3 a

[2019-02-05 12:07] barbolo commented on #528
@drbrain @knu @leejarvis

I'm able to reproduce the memory problem with the following code:

[code]

Results:

[code]

I'm running `mechanize 2.7.6` and `ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-darwin17]` on `macOS Mojave 10.14.2`.

[2019-02-11 15:55] leejarvis commented on #540
Closing as per the comment from Rafael

[2019-02-11 15:55] #540 closed

[2019-02-11 16:02] leejarvis commented on #531
Thanks for reporting, what makes you think this change is not present in 2.7.6?

The change was merged in f176027ba4a5a370e2549f3f367f2e5f2cea1630 and it seems OK to me:

[code]

[2019-02-11 16:06] leejarvis commented on #530
Yes, this is related to `HTTP::CookieJar` I'm afraid. I'm going to close this but open to feedback if anyone can reproduce (please comment on the above issue on http-cookie rather than this one)

[2019-02-11 16:06] #530 closed

[2019-02-11 16:14] #500 closed

[2019-02-11 16:15] #509 closed

[2019-02-11 16:19] leejarvis commented on #520
Yes. The SSL version is passed through to [net-http-persistent](https://github.com/drbrain/net-http-persistent) and thus net/http + openssl. See documentation for [Net::HTTP](https://ruby-doc.org/stdlib-2.5.3/libdoc/net/http/rdoc/Net/HTTP.html) (search for `ssl`)

[2019-02-11 16:19] #520 closed

[2019-02-11 16:19] leejarvis commented on #488
Thanks, we don't have any way to automated cURL to Mechanize but if you have ideas for that please let us know! I'll close this in the meantime

[2019-02-11 16:19] #488 closed

[2019-02-11 16:20] #490 closed

[2019-02-11 16:23] leejarvis commented on #525
Please can you re-open this issue with a full stack trace on [net-http-persistent](https://github.com/drbrain/net-http-persistent), which is where the error originates? Thanks!

[2019-02-11 16:23] #525 closed

[2019-02-11 16:23] #481 closed

[2019-02-11 16:27] leejarvis commented on #498
Thanks, do you have any steps to reproduce?

[2019-02-11 16:28] leejarvis commented on #474
Going to close this until more feedback. Thanks

[2019-02-11 16:28] #474 closed

[2019-02-11 16:28] #469 closed

[2019-02-11 16:29] #463 closed

[2019-02-11 16:29] #448 closed

[2019-02-11 16:31] leejarvis commented on #462
Thanks. Yeah I don't think it's reasonable to try and pull this into Mechanize in any official capacity, so I'm going to close this issue

[2019-02-11 16:31] #462 closed

[2019-02-11 16:33] leejarvis commented on #489
You're comparing the page encoding with a different encoding. Try forcing your encoding first:

[code]

[2019-02-11 16:33] #489 closed

[2019-02-11 16:34] #470 closed

[2019-02-11 16:35] leejarvis commented on #467
Sorry but I don't see how this is related to Mechanise

[2019-02-11 16:35] #467 closed

[2019-02-11 16:35] brauliobo commented on #498
Nop, it should be fixed by making it thread safe

[2019-02-11 16:36] leejarvis commented on #498
@brauliobo perhaps you're right, but I can't reproduce your error even with a multi-threaded program, so some help would be really appreciated

[2019-02-11 16:39] #425 closed

[2019-02-11 16:40] leejarvis commented on #452
Does this still happen? I have a similar script and cannot reproduce. Closing for now, happy to re-open an investigate (sorry for the delay)

[2019-02-11 16:40] #452 closed

[2019-02-11 17:17] leejarvis commented on #504
Thanks and sorry for the absence. I'm happy to add more maintainers.

I realise I have really not had time for Mechanize for a long while now, so I'm open to discussing collaboration for anyone interested. However, I don't agree that there are a lot of PRs open, so I think this will require much more than just somebody who can merge already prepared pull requests. My suggestion, if you're interest

[2019-02-11 17:17] #504 closed

[2019-02-11 18:32] alovak commented on #531
As far as I remember if you download the gem this change is not included in
the code.

On Mon, 11 Feb 2019 at 17:02, Lee Jarvis <notifications@github.com> wrote:

--

---
Best wishes,
Pavel Gabriel

Twitter: @alovak <http://twitter.com/#%21/alovak>
Skype: pavel.gabriel
Mobile: +375 (29) 3-20-30-99

[2019-02-11 19:17] leejarvis commented on #531
My example above was from downloading the gem, so I'm wondering if there's a specific issue you're having that I can investigate? Can you give me some steps to reproduce the problem? Thanks!

[2019-02-11 19:36] alovak commented on #531
@leejarvis  unfortunately I don't remember what was the issue. I wish I would add more details on it...

Let's close the issue until I find what was the reason behind it

[2019-02-11 19:36] #531 closed

[2019-02-11 19:36] alovak commented on #531
Thanks for response!

[2019-02-12 09:29] #536 closed

[2019-02-12 18:00] #527 closed

[2019-02-12 18:03] leejarvis commented on #472
Should we point to http://www.rubydoc.info/gems/mechanize/Mechanize for now?

I think so yes. I've change the GitHub Homepage URL and I think we can tweak the README too

[2019-02-12 18:03] #472 closed

[2019-02-13 05:40] benforeva commented on #529
This worked for me :+1:

[2019-02-15 09:59] brauliobo commented on #498
When running 400k scraping tasks I got 211 ocurrences of this, so it seems it is hard to reproduce

[2019-03-11 06:02] monkeysuffrage commented on #529
Me too

[2019-03-12 17:01] pestovpvl commented on #529
Thank you! It is works!

[2019-03-22 23:47] MatzFan commented on #535
I don't now what the upstream problem is, but it is definitely a problem with using the `net-http-persistent` gem v3.0.0, perhaps you installed this with mechanize v2.7.6.

The socksify patch works fine for me with mechanize v2.7.6 if I lock net-http-persistent to < 3 in my Gemfile. Make sure you use `require 'bundler/setup'` otherwise your app may find v3.0.0 at runtime of course.

[2019-04-05 20:57] ShaunGrey commented on #529
worked for me

[2019-04-09 20:26] tenderlove commented on #528
I was able to bisect this to https://github.com/drbrain/net-http-persistent/commit/5bae22e8a3626ab3b14743c00796d4f176580ad8

I think this patch fixes it: https://github.com/drbrain/net-http-persistent/pull/98

[2019-04-29 23:10] tenderlove commented on #528
I shipped net-http-persistent version 3.0.1, and it should clear this up for the most part.  I think there is the possibility of a small leak of string keys in the main thread, but I'll need to do more investigation to fix that.  v3.0.1 should clear it up mainly.

[2019-05-02 12:10] fist28 opened #546 "Not full page body loaded"
Hi,

I use Mechanize (2.7.6) in Sinatra (2.0.5) app.
I have problem with scrape one of the page in internal application. The problem is a not fill body loaded.

My code to make request is below. You can see that end of page body is break - the source breaks off in the middle of the table.
[code]

When I do the same request by `curl` then I got full page response.

Problem is occurs on few `product

[2019-05-02 12:40] fist28 commented on #546
Sorry, it was a internal server side problem.

[2019-05-02 12:40] #546 closed

[2019-05-20 09:21] cielavenir commented on #495
https://github.com/sparklemotion/mechanize/issues/436

[2019-07-20 02:29] kyoshidajp opened #547 "save/load in Mechanize::CookieJar has OS Command Injection"
`save` and `load` of `Mechanize::CookieJar` accept `|` as a file path. It leads to OS Command Injection.

# How to reproduce

PoC of `save` is the following.

[code]

Then, `/tmp/evil.txt` will be created. `load` is the same.

# Environments

- Mechanize: master branch
- Ruby: MRI (ruby 2.4.4p296 (2018-03-28 revision 63013) [x86_64-darwin17])

[2019-07-26 19:05] kapso opened #549 "Downloading a really large file"
I need to download (and upload to S3) a really large file (1.5 GB). I need to run this on a serverless environment so I may not necessarily have access to a local disk. How can I do this with mechanize? Thanks.

I just tried the following code and this code is still running for last 30 minutes.

[code]

[2019-08-21 19:21] OmriSama opened #550 "Custom Cipher suites?"
Hello
Is there a way to use custom cipher suites with the Mechanize agent? Kind of like what [Zack Hobson does here](https://zackhobson.com/2014/02/10/ssl_and_ruby_part_2/):

[code]

I couldn't find a `ciphers` attribute in `Mechanize.new.agent.http` 😢

[2019-09-19 15:49] deivid-rodriguez commented on #495
Seems related: https://github.com/pyu10055/ntlm-http/pull/13

[2019-09-19 16:51] sempervictus commented on #495
Wow, this is still open...
Pretty sure I've literally reverse engineered ssp3 signing since this was opened. If marking this as a security issue helps move it along, it _is_ one since the lib in use is leveraging old and easy to intercept/reuse ntlm message formats.

[2020-02-14 15:49] aaron-humerickhouse opened #551 "Documentation link is broken"
docs.seattlerb.org/mechanize is a 503

[2020-02-26 03:39] RylanSchaeffer commented on #514
`bundle update` does not work for me. What is an alternative solution?

[2020-02-26 03:40] RylanSchaeffer commented on #514
`gem start` yields the error:

`ERROR:  While executing gem ... (Gem::CommandLineError)
    Unknown command start`

[2020-03-23 02:46] ZephireNZ opened #552 "ssl.SSLError: [SSL: KRB5_S_TKT_NYV] unexpected eof while reading (_ssl.c:2607)"
Getting the below error when trying to make calls to a mechanize browser instance.

Using mechanize v0.4.3

[code]

Below causes the issue:
[code]

[2020-03-23 15:09] jacobtomlinson commented on #552
Try downgrading openssl to `1.1.1d`.

We are also having this issue in our project and I am currently investigating.

[2020-03-23 18:31] ZephireNZ commented on #552
Thanks, downgrading to `1.1.1d` did the trick :) Will stop that package from upgrading for now till the issue is resolved.

[2020-05-21 02:37] nejiko96 opened #553 "Mechanize::page#encoding_error? raises "ArgumentError: invalid byte sequence in UTF-8" when parse error message contains wrong characters."
I think this will be avoided by a patch like this:

[code]

but it seems like String#scrub requires Ruby version >= 2.1.0.

[2020-08-26 11:24] brauliobo opened #555 "HTTP2 required by Cloudfare Bot checks"
Hi, this page for instance https://www.thuisbezorgd.nl/en/new-york-pizza-de-bilt uses the Cloudflare bot protection that check for the HTTP2 protocol usage. If HTTP1 is used then it blocks access and redirect to a browser check.

How can use HTTP2 with Mechanize? Is there any support or plans already?

[2021-01-23 04:18] flavorjones commented on #551
This URL is OK now, closing.

[2021-01-23 04:18] #551 closed

[2021-01-23 04:57] flavorjones commented on #552
@ZephireNZ and @jacobtomlinson - sorry you're having problems. Unfortunately this project is the Ruby library named `mechanize` and not the Python library.

[2021-01-23 04:57] #552 closed

[2021-01-23 05:30] flavorjones opened #560 "Tidy the project, and prepare for another release."
Mechanize hasn't gotten much love lately. I'm opening this issue to track some things I'd like to do, and to solicit input from the current maintainers (it's been a while since I've been involved).

Higher priority:

- [x] move to Github Actions for CI. Travis doesn't seem to be building anymore, and I'm unsure of the long-term status (#561)
- [x] get `master` green (#558, #557, #562)
- [x] genera

[2021-01-30 16:31] flavorjones commented on #560
OK, no comments, then I intend to proceed!

[2021-01-31 21:01] ddoherty03 commented on #560
Does it make sense to ensure the gem is compatible with Ruby3?

[2021-01-31 22:27] flavorjones commented on #560
@ddoherty03 Without knowing what you're seeing, I can't be sure I'm answering your question. But I can say that the `master` branch now has `webrick` added as a dependency and so should work on Ruby 3 with the next release. Is that helpful? If not, can you ask a more specific question?

[2021-02-01 17:55] flavorjones commented on #547
See https://github.com/sparklemotion/mechanize/security/advisories/GHSA-qrqm-fpv6-6r8g for CVE assignment and public notice.

(That security advisory may not be public yet, but will be public once this fix is in a release.)

[2021-02-01 17:59] #547 closed

[2021-02-01 20:57] flavorjones commented on #560
Release v2.7.7 has been shipped.

[2021-02-01 21:02] flavorjones commented on #547
v2.7.7 has been released. Thank you again for reporting this! I've given you credit in the security advisory linked above. The CVE assigned is CVE-2021-21289.

[2021-02-01 21:53] flavorjones opened #563 "drop support for EOLed Rubies (< 2.5)"
Ruby 2.4 was declared EOL after 2020-03-31 (see https://www.ruby-lang.org/en/downloads/branches/ for more information).

I would like to stop supporting older rubies starting with Mechanize v2.8.0.

[2021-02-01 21:55] flavorjones opened #564 "add Rubocop's security checks to CI"
Security issues such as the one reported in https://github.com/sparklemotion/mechanize/issues/547 could be avoided by running Rubocop security checks as part of the test suite.

Rubocop will not run against code that supports Ruby 1.9 syntax, so this issue is blocked on #563.

[2021-02-01 21:57] flavorjones opened #565 "update gem dependency versions"
Per #563 we'll be dropping support for EOLed Rubies in v2.8.0, so we should take inventory of the dependencies we're declaring, and update and clean up the dependencies declared in the gemspec.

[2021-02-01 22:02] flavorjones opened #566 "freshen up the README"
The README needs some love. I'd like to:

- convert it from RDoc to Markdown
- remove the travis badge
- update the dependencies section to match #565 and #563
- docs.seattlerb.org is not up-to-date. let's start pointing people somewhere they'll be updated.

[2021-02-01 22:03] flavorjones commented on #560
For the remaining items, I've created issues and a milestone:

- [drop support for EOLed Rubies (< 2.5) · Issue #563 · sparklemotion/mechanize](https://github.com/sparklemotion/mechanize/issues/563)
- [add Rubocop's security checks to CI · Issue #564 · sparklemotion/mechanize](https://github.com/sparklemotion/mechanize/issues/564)
- [update gem dependency versions · Issue #565 · sparklemotion/mech

[2021-02-01 22:03] #560 closed

[2021-02-01 22:04] flavorjones commented on #560
@ddoherty03 v2.7.7 just shipped which should support Ruby 3. If you're still experiencing problems, can you open a new issue to discuss it? Thank you!

[2021-02-01 22:11] flavorjones opened #567 "rename default git branch"
Github has introduced support for alternative default branch names. This issue notifies the developers that the maintainers intend to rename the `master` branch to `main` and update any tooling (e.g. CI, webhooks) that needs to be updated.

Please watch this issue if you'd like to receive updates.

**General Rationale for Inclusive Language**

Here are some resources that may help provide a ration

[2021-02-01 22:35] #478 closed

[2021-02-02 17:30] ddoherty03 commented on #560
Yes, all good now on the Ruby3 front, for me anyway.  Thanks @flavorjones.

[2021-02-03 07:45] utkarsh2102 opened #568 "Relevant commits for CVE-2021-21289?"
Hello @flavorjones,

Thanks for your amazing work on this! \o/

With my Debian maintenance and security hat on, I'd like to know the relevant commits which would be sufficient to fix CVE-2021-21289. I want to backport these changes to v2.7.5 and v2.7.6.

Thanks in advance! :)

[2021-02-03 07:48] utkarsh2102 commented on #568
Oh as I see it, https://github.com/sparklemotion/mechanize/pull/548 is the fix for this, right?
Besides, do you think I can directly backport this to v2.7.5 and v2.7.6? Or do you anticipate or foresee any problems with that?

[2021-02-03 12:50] flavorjones commented on #568
@utkarsh2102 the relevant commits are all in #548:

- aae0b13514a1a0caf93b1cf233733c50e679069a
- 2ac906b26f4a565a0af92df5fb9c8a36c2b75375
- f43a3952ab39341136656b0a8b2c8597ba1b4adc
- b48b12f5db33c5a94a14dfcab8adf3e73cfa0388
- 63f8779e49664d5e95fae8d42d04c8e373162b3c

These changes can definitely be backported safely, yes. It's possible that there might be conflicts merging the changes to the tests

[2021-02-03 16:38] utkarsh2102 commented on #568
Thanks, @flavorjones!
I'll try to backport the tests as much as I can though (it's always good for us to ensure no regressions) and shall report here when I run into any problems.

I'll close this once I upload the backported packages to the Debian archive! Thanks for your help! \o/

[2021-02-07 17:49] flavorjones commented on #568
I'm going to close this, but please do update me if you run into any problems! Thank you!

[2021-02-07 17:49] #568 closed

[2021-02-07 19:19] #563 closed

[2021-02-07 19:19] #564 closed

[2021-02-07 19:19] #565 closed

[2021-02-07 19:23] flavorjones commented on #567
This change has been made. Please update your environment:

[code]

[2021-02-07 19:23] #567 closed

[2021-02-09 15:32] utkarsh2102 commented on #568
Hi @flavorjones,

Can I get a POC for this? In case it's supposed to be private, could you please email me the same at utkarsh[at]debian[dot]org?

Thanks again for your help! 😄

[2021-03-13 14:13] wonderer007 opened #572 "Mechanize::ResponseCodeError: 429 => Net::HTTPTooManyRequests"
I am writing a bot to scrape a website and within x time frame server respond with the below error

[code]

After Y amount of time, I can make a request to the server again. Can I avoid this behaviour by using proxy with Mechanize gem or changing user agent?

[2021-03-13 14:16] #572 closed

[2021-03-19 13:25] flavorjones commented on #566
@mmulet Thank you! I'm really interested to see code relay in action.

[2021-03-31 16:11] flavorjones commented on #566
@mmulet Someone submitted a PR for this already; but thanks for trying to invoke Code Relay on this.

[2021-03-31 16:11] #566 closed

[2021-03-31 16:59] flavorjones commented on #553
@nejiko96 Can you help me reproduce the error you'd like to fix?

[2021-03-31 17:04] flavorjones commented on #549
Hi @kapso, sorry for the slow response. Using `Mechanize::Download#body` is documented as "this may use lots of memory if the response body is large", so probably not what you want to do.

You can access the parser's underlying `IO` object via the `#body_io` attribute; you may want to try reading a chunk at a time and writing those chunks to your destination.

[2021-03-31 17:04] #549 closed

[2021-03-31 17:59] flavorjones commented on #464
I'm open to merging this functionality treating `socksify` as an optional dependency. **However** the patch at #507 does not work with recent `net-http-persistent` versions (see #535). If someone wants to provide an updated patch I'll take a look.

[2021-03-31 17:59] #535 closed

[2021-03-31 18:15] #528 closed

[2021-03-31 18:19] flavorjones commented on #529
Closing, `net-http-persistent` is a supported gem with recent releases.

[2021-03-31 18:19] #529 closed

[2021-03-31 18:19] #523 closed

[2021-03-31 18:20] #522 closed

[2021-03-31 18:34] andymeneely commented on #529
Hooray! There are many students who use this for an assignment that will be happy.

[2021-03-31 18:41] flavorjones commented on #521
@maxiedaniels I'm having trouble reproducing this issue on my local dev environment using Mechanize 2.7.7. Here's the script I'm running:

[code]

Is there additional context you can provide to help me reproduce this?

[2021-03-31 18:45] flavorjones commented on #521
(Side note: the server I'm hitting locally supports gzip-encoded responses)

[2021-03-31 18:47] #511 closed

[2021-03-31 18:48] flavorjones commented on #498
I also cannot reproduce this, so closing until/unless we have more information. Thanks.

[2021-03-31 19:00] #497 closed

[2021-03-31 19:13] #495 closed

[2021-03-31 19:15] flavorjones commented on #436
The next version of Mechanize will depend on `rubyntlm` (likely 2.8.0).

[2021-03-31 20:44] #483 closed

[2021-03-31 20:44] flavorjones commented on #483
Will be fixed in v2.8.0

[2021-03-31 20:46] flavorjones commented on #461
This seems likely to be an issue within `net-http-persistent`, as this error is emitted by that rubygem.

[2021-03-31 20:46] #461 closed

[2021-03-31 20:48] flavorjones commented on #479
Unfortunately this site no longer exists, so I'm still having trouble reproducing this. I'm going to close because of the age of this issue, but feel free to comment or open a new issue if you can help us reproduce.

[2021-03-31 20:48] #479 closed

[2021-03-31 20:52] flavorjones commented on #465
@chaner Sorry for the delay in responding. With current versions of mechanize, I can't reproduce what you're describing. Please feel free to comment or open a new issue if you're still having issues, and would like to help me reproduce.

[2021-03-31 20:52] #465 closed

[2021-03-31 20:53] #454 closed

[2021-03-31 20:56] flavorjones commented on #446
I'm sorry about the length of time that has passed without a reply. In an attempt to clean up the backlog of Mechanize issues, we're closing tickets that have had no recent activity.

If you'd like to re-open an issue to discuss, we'd be very thankful. Have a great day!

[2021-03-31 20:56] #446 closed

[2021-03-31 21:03] flavorjones commented on #429
See #523; I don't think this is an infinite loop, merely a really long one because this refresh happens after 330 seconds. That is, `Mechanize::HTTP::Agent` sleeps for 330 seconds before proceeding.

If that seems silly, well, yeah, it seems silly to me, too -- but that sleep logic has been present since 6545d6a in 2008, so since Mechanize 0.8.5.

Hope this helps. And apologies for the length of t

[2021-03-31 21:03] #429 closed

[2021-03-31 21:05] flavorjones commented on #426
I'm sorry about the length of time that has passed without a reply. In an attempt to clean up the backlog of Mechanize issues, we're closing tickets that have had no recent activity.

If you'd like to re-open an issue to discuss, we'd be very thankful. Have a great day!

[2021-03-31 21:05] #426 closed

[2021-03-31 21:06] #424 closed

[2021-03-31 21:08] flavorjones commented on #416
This was reverted in d0cbc8f in July 2015 after a conversation in 1b55be172f88d5ba88795282c74dd2f0fbecda90

[2021-03-31 21:08] #416 closed

[2021-03-31 21:09] flavorjones commented on #415
I'm sorry about the length of time that has passed without a reply. In an attempt to clean up the backlog of Mechanize issues, we're closing tickets that have had no recent activity.

If you'd like to re-open an issue to discuss, we'd be very thankful. Have a great day!

[2021-03-31 21:09] #415 closed

[2021-03-31 21:10] flavorjones commented on #412
I'm sorry about the length of time that has passed without a reply. In an attempt to clean up the backlog of Mechanize issues, we're closing tickets that have had no recent activity.

If you'd like to re-open an issue to discuss, we'd be very thankful. Have a great day!

[2021-03-31 21:10] #412 closed

[2021-03-31 21:10] flavorjones commented on #411
I'm sorry about the length of time that has passed without a reply. In an attempt to clean up the backlog of Mechanize issues, we're closing tickets that have had no recent activity.

If you'd like to re-open an issue to discuss, we'd be very thankful. Have a great day!

[2021-03-31 21:10] #411 closed

[2021-03-31 21:10] flavorjones commented on #394
I'm sorry about the length of time that has passed without a reply. In an attempt to clean up the backlog of Mechanize issues, we're closing tickets that have had no recent activity.

If you'd like to re-open an issue to discuss, we'd be very thankful. Have a great day!

[2021-03-31 21:10] #394 closed

[2021-03-31 21:11] flavorjones commented on #393
I'm sorry about the length of time that has passed without a reply. In an attempt to clean up the backlog of Mechanize issues, we're closing tickets that have had no recent activity.

If you'd like to re-open an issue to discuss, we'd be very thankful. Have a great day!

[2021-03-31 21:11] #393 closed

[2021-03-31 21:12] flavorjones commented on #346
I'm sorry about the length of time that has passed without a reply. In an attempt to clean up the backlog of Mechanize issues, we're closing tickets that have had no recent activity.

If you'd like to re-open an issue to discuss, we'd be very thankful. Have a great day!

[2021-03-31 21:12] #346 closed

[2021-03-31 21:13] flavorjones commented on #323
I'm sorry about the length of time that has passed without a reply. In an attempt to clean up the backlog of Mechanize issues, we're closing tickets that have had no recent activity.

If you'd like to re-open an issue to discuss, we'd be very thankful. Have a great day!

[2021-03-31 21:13] #323 closed

[2021-03-31 23:13] jackrg commented on #393
Don’t worry about it, Mike. I found a workaround back then and I’ve migrated forward several releases on all software, so I doubt that I could reproduce it if I tried.

[2021-04-08 15:44] benjaminelkrieff opened #577 "Serialize Mechanize::Page to YAML & deserialize"
Hello.

We are trying to implement a mechanism that looks like VCR and the cassette implementation.

We have a web page loading into a Mechanize::Page object and we dump it into a YAML file.

When we choose to use the cassette, we want to read the yaml file and rebuild the Mechanize::Page instance by using the initializer and giving the 5 following parameters: uri - response - body - code - mech

[2021-04-08 16:38] flavorjones commented on #577
Hi @benjaminelkrieff, I'll try to help.

In the interest of helping you solve your problem, can you tell me a bit more about what you're trying to do? Mechanize has a few different capabilities when it comes to writing files to local disk. I'd like to avoid the [XY Problem](https://en.wikipedia.org/wiki/XY_problem) where we work on `Proc` serialization but don't actually solve your problem.

Maybe

[2021-04-10 18:42] benjaminelkrieff commented on #577
Hello and thanks for your answer.
I tried your code and Mechanize.get truncates the "html" part of the file so it throws a Net::HTTPNotFound error

[2021-04-11 02:23] flavorjones commented on #577
@benjaminelkrieff Can you please provide a bit more information, so that I can reproduce what you're seeing?

[2021-04-11 08:40] benjaminelkrieff commented on #577
Yes sure:

What we are trying to do is implementing a VCR-like system. When we chose to use a cassette and not download the page again, if it's the first time, we save the page in a file. When it's not the first time, we want to read the page from the file and reconstruct a Mechanize::Page object. This is crucial for the integrity of our code.

Unfortunately, Mechanize::Page comes with it's own at

[2021-04-12 21:14] flavorjones commented on #577
@benjaminelkrieff I provided you code above that reads HTML from disk and creates a Mechanize::Page.

[2021-04-12 21:20] benjaminelkrieff commented on #577
I tried the code and it didn't work

[2021-04-12 21:22] flavorjones commented on #577
@benjaminelkrieff ... Yes, and I asked "Can you please provide a bit more information, so that I can reproduce what you're seeing?"

[2021-04-12 21:24] flavorjones commented on #577
For the record, my environment is:

- Mechanize 2.7.7
- Nokogiri 1.11.3
- ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [x86_64-linux]

[2021-04-12 21:25] benjaminelkrieff commented on #577
Thank you I will give it a shot!

[2021-04-13 19:23] #577 closed

[2021-04-13 19:23] flavorjones commented on #577
Closing, but if you're still having problems feel free to comment and we can continue the chat!

[2021-04-29 06:32] #521 closed

[2021-04-29 06:34] flavorjones commented on #464
Closing this issue, but I would accept a PR for this functionality if it can be made to work with recent versions of `net-http-persistent`.

[2021-04-29 06:34] #464 closed

[2021-04-29 06:47] mikerodrigues commented on #555
HTTP2 works fine for me with mechanize.

[2021-05-08 06:27] nejiko96 commented on #553
[code]

[2021-05-09 12:40] flavorjones commented on #553
Thank you for your help. Working on a fix now.

[2021-05-09 12:57] #553 closed

[2021-05-09 13:01] flavorjones commented on #553
I've released v2.8.1 which fixes this. Thanks again.

[2021-05-28 00:05] nejiko96 commented on #553
I have confirmed that it is fixed. Thank you very much.

[2021-07-01 04:07] KSH-code opened #583 "Improve `#download` to be supported also post method"
When file downloads with form, its method is post usually .
so `#download` which supports post method would be nice in my opinion.

it could be?

[2021-07-01 12:31] flavorjones commented on #583
@KSH-code thank you for asking this question!

I would like to understand more deeply how you would like Mechanize to work. Are you doing a `POST` with query parameters using `Mechanize#post`, or are you filling out a form and calling `Form#submit`?

[2021-07-01 13:42] KSH-code commented on #583
@flavorjones
I'm using only `Mechanize#post` for download file to request service providers' endpoint.
because `Mechanize#downlaod` does not support method with post so I am now using `Mechanize#post` and `pluggable_parser.default = Mechanize::Download`.

and then access direct `#page.body_io`.

query parameter is not used!

What I want is just call only `#download` and then access page object.

[2021-08-06 05:20] flavorjones commented on #555
@brauliobo When I run this script, I'm unable to reproduce what you're describing:

[code]

I'm going to close this as "stale", but if you'd like to continue the conversation please feel free to reply and we can reopen it. Thanks!

[2021-08-06 05:20] #555 closed

[2021-11-22 10:31] brauliobo commented on #527
I'm getting lots of this error with version 4.0.1

[2021-11-22 12:46] flavorjones commented on #527
@brauliobo Please open a new issue, and include as much information as you can to help us reproduce it, including versions of Mechanize and dependencies. Thank you!

[2022-02-16 07:57] kshnyakin opened #590 "already initialized constant Set::InspectKey"
Hello guys! Thanks for you work with mechanize! I'm just starting work with it.
A have installed gem on pure (rails by $ rails new) and when I try to launch ( $ rails c / s ) meet next problem:
[code]
using next gems:
[code]

Maybe someone have met this problem and I make something wrong, or it's really bug, those needed to be fixed.

[2022-02-17 18:34] Randall-Coding opened #591 "Is there a way to fill in fields that aren't inside a form tag and click on elements that aren't links?"
From reading the docs, it seems that in order to fill in a field that field must be inside a form tag and to click on an element that element needs to be a link.

In my current use case I need to break both of those rules, the input field is not in a form and the element to click on is not a link.  Any help is greatly appreciated.

[2022-02-19 16:51] flavorjones commented on #591
Hi @Randall-Coding, thanks for asking this question. I'll try to help.

Can you provide an HTML snippet that demonstrates the form and fields that you're operating on? I've found that grounding the discussion in a concrete example is usually very helpful.

I'll take some guesses at what you're working with ...

## input field not inside a form tag

Without more information, I suspect what you're s

[2022-02-19 16:56] flavorjones opened #592 "HTML5 support"
This issue is a placeholder to track what pieces of HTML5 functionality Mechanize should eventually support.

1. Mechanize uses Nokogiri::HTML (which is an alias for Nokogiri::HTML4) as the HTML parser. Mechanize needs to provide an option for invoking the Nokogiri::HTML5 parser on platforms where it's available.
2. #591 points out that `Mechanize::Form#fields` are set based on searching the `form

[2022-02-19 16:57] flavorjones commented on #591
I've created #592 to track missing HTML5 functionality.

[2022-02-19 17:00] Randall-Coding commented on #591
@flavorjones   Thanks for the response.  Yes it turns out the page is using javascript and in fact angular.  I ended up switching over to Selenium.

[2022-02-27 15:03] joshuamitchem opened #593 ">"bug.svg" file."
BTW, any idea how can I modify `svg_merged = Nokogiri::XML(text, &:noblanks)` to enable both `noblanks` and `huge`?

_Originally posted by @matkoniecz in https://github.com/sparklemotion/nokogiri/issues/2201#issuecomment-791743186_

[2022-02-27 17:14] joshuamitchem opened #594 "when down loading should start with https//sparkle motion/joshuamitchem mechanize"
if u start with that should be able to download without having any problems

[2022-02-27 17:15] joshuamitchem commented on #594
-ll

[2022-02-27 17:20] joshuamitchem commented on #594
@joshuamitchem can and will download @sparklemotion.com

[2022-02-27 17:20] #594 closed

[2022-02-27 17:22] flavorjones commented on #594
@joshuamitchem I don't understand. Can I ask you to please state clearly what problem you're having and how I can reproduce it?

[2022-02-27 17:23] flavorjones commented on #593
Answered in https://github.com/sparklemotion/nokogiri/issues/2201#issuecomment-791759761

[2022-02-27 17:23] #593 closed

[2022-03-30 08:12] #583 closed

[2022-05-12 01:38] astounding opened #595 "What's the RIGHT way to accomplish controlling the source IP and port with Mechanize?"
I didn't see anything obvious in documentation showing how to control the SOURCE IP and PORT that Mechanize binds to.  I know Net::HTTP has #local_port and #local_host methods to set and control source IP and PORT binding, but I don't know how to tell my Mechanize agent to set those.  Instead I resorted to this UGLY kludge:

... ruby script body ...

BIND_IP = '192.168.55.121'  ## Totally bogus IP

[2022-05-26 13:51] resistorsoftware opened #599 "Heroku Stack and OpenSSL security"
When Mechanize makes an external call to HTTPS, it uses OpenSSL. When hosting on Heroku, the older stacks use Level 1 security and connections to misconfigured HTTPS sites work fine.

When on a heroku-20 stack, the OpenSSL is level 2, and hence fails on misconfigured sites. It is not usually possible to contact these sites and ask them to fix their broken SSL. Is there a way to deploy Mechanize wi

[2022-05-26 16:05] flavorjones commented on #599
@resistorsoftware When you say "level", do you mean "ssl version"? If so then please take a look at https://www.rubydoc.info/gems/mechanize/2.5/Mechanize#ssl_version-instance_method

[2022-05-26 16:13] resistorsoftware commented on #599
Ah sorry! The exact terminology in play is this:

So I am curious if I can tell operate the latest greatest Mechanize with a workaround suitable for this where due to SECLEVEL being 2, I get the **dh key too small** error.

[2022-05-26 19:12] flavorjones commented on #599
OK, thanks for explaining. Mechanize uses [net-http-persistent](https://github.com/drbrain/net-http-persistent) to manage its network connections, so my recommendation is to start there. If Net::HTTP::Persistent supports it, then we can introduce a flag to Mechanize to support it.

Side note: I don't see a feature like this in net-http-persistent. I don't even see it in [Net::HTTP](https://docs.ru

[2022-05-26 19:12] #599 closed

[2022-06-16 17:31] Djstiers1109 opened #601 "Autostart"

[2022-11-17 05:44] shreeve opened #602 "Hack to fix the "unsafe legacy renegotiation disabled" error"
Adding this issue in the hopes it saves someone some time in the future.

I was having difficulty connecting to certain websites, and kept seeing the following error:

[code]

I fixed it by adding an option flag for `OpenSSL` prior to establishing the connection, as follows:

[code]

What this does is allow `unsafe legacy renegotiation` with websites that have not yet updated their stack.

This is

[2022-11-17 05:44] #602 closed